<div class="footer-newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>@HtmlLocalizer["NewsletterSection_Title"]</h4>
                <p contenteditable-for="NewsletterSection_Description"></p>
                <form action="" method="post">
                    <input type="email" name="email" required>
                    <input type="submit" value="@HtmlLocalizer["NewsletterSection_SubscribeButton_Label"]">
                </form>
            </div>
        </div>
    </div>
</div>
