@using linc.Utility
@model ErrorViewModel

@* TODO: Localize *@

@{
    ViewData["Title"] = "404 - Страницата не съществува";
}

@section Breadcrumbs 
{
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>@Model.Path</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->
}

<!-- ======= Portfolio Details Section ======= -->
<section id="error-page">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="d-flex justify-content-center">
                    <img src="~/img/not-found-error.jpg" alt="404 - Not Found">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-description">
                    <h2>Поисканата от Вас страница не беше намерена.</h2>
                    <p>
                        Ако мислите, че страницата липсва или това е вътрешен проблем, моля, обърнете се към администратора на системата по email за да отстрани проблема възможно най-бързо.
                    </p>
                    <p>
                        Моля, при забелязани грешки и други неизправности по системата, свържете се с администратора на системата посредством бутона по-долу.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->

@section Newsletter
{
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>@Model.Path</h4>
                    <p>@Model.RequestId</p>
                    <a href="mailto:@SiteConstant.AdministratorEmail" class="btn btn-danger">Докладвай за нередност</a>
                </div>
            </div>
        </div>
    </div>
}
