@using Microsoft.AspNetCore.Mvc.TagHelpers
@using linc.Utility
@using linc.Models.Enumerations

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3>@HtmlLocalizer["ManageProfile_Title"]</h3>
        <small>@HtmlLocalizer["SiteRole_Label"]: @(EnumHelper<SiteRole>.GetDisplayName(User.GetRole()))</small>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav"/>
    </div>
    <div id="identity-content" class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
