@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using linc.Utility
@using linc.Models.Enumerations
@model AdministrationModel
@{
    ViewData["Title"] = HtmlLocalizer["AdminIndex_Title"];
    ViewData["ActivePage"] = ManageNavPages.Administration;
}

<div class="row admin-top">
    <div class="col-md-6 admin-links">
        <h4 class="pb-4">@HtmlLocalizer["AdminIndex_Operations_Title"]</h4>
        <ul>
            @if (User.IsAtLeast(SiteRole.HeadEditor))
            {
                <li>
                    <i class="bx bx-chevron-right"></i>
                    <a asp-controller="Issue" asp-action="Create">@HtmlLocalizer["Admin_CreateIssue"]</a>
                </li>
            }
            
            <li>
                <i class="bx bx-chevron-right"></i>
                <a asp-controller="Source" asp-action="Admin">@HtmlLocalizer["Source_AdminPage_Title"]</a>
            </li>

            @if (User.Is(SiteRole.Administrator))
            {
                <li>
                    <i class="bx bx-chevron-right"></i>
                    <a asp-controller="Admin" asp-action="TestSendEmail">Test Send Email Default</a>
                </li>
                <li>
                    <i class="bx bx-chevron-right"></i>
                    <a asp-controller="Admin" asp-action="TestSendEmail" asp-route-id="bg">Test Send Email (bg)</a>
                </li>
                <li>
                    <i class="bx bx-chevron-right"></i>
                    <a asp-controller="Admin" asp-action="TestSendEmail" asp-route-id="en">Test Send Email (en)</a>
                </li>
            }
        </ul>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScripts" />
}
