@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using linc.Utility
@using linc.Models.Enumerations
@model AdministrationModel
@{
    ViewData["Title"] = HtmlLocalizer["AdminIndex_Title"];
    ViewData["ActivePage"] = ManageNavPages.Administration;
}

<div class="row admin-top">
    <div class="col-md-6 admin-links">
        <h4 class="pb-4">@HtmlLocalizer["AdminIndex_Operations_Title"]</h4>
        <ul>
            @if (User.IsAtLeast(SiteRole.HeadEditor))
            {
                <li>
                    <i class="bx bx-chevron-right"></i>
                    <a asp-controller="Issue" asp-action="Create">@HtmlLocalizer["Admin_CreateIssue"]</a>
                </li>
            }
            <li>
                <i class="bx bx-chevron-right"></i>
                <a asp-controller="Source" asp-action="Create" asp-fragment="team">@HtmlLocalizer["Admin_CreateSource"]</a>
            </li>
        </ul>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScripts" />
}
