@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdministrationModel
@{
    ViewData["Title"] = "Administration";
    ViewData["ActivePage"] = ManageNavPages.Administration;
}

<p>TODO: Administration</p>

@section Scripts {
    <partial name="_ValidationScripts" />
}
