@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AvatarModel
@{
    ViewData["Title"] = "Avatar";
    ViewData["ActivePage"] = ManageNavPages.Avatar;
}

<p>TODO: Avatar</p>

@section Scripts {
    <partial name="_ValidationScripts" />
}
