<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon">
                        <i class="bx bx-file"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="contact">Изпращане на ръкопис</a>
                    </h4>
                    <p class="description">
                        Изпращането става на email адресът на редакцията. Моля, уверете се, 
                        че преди това сте се запознали с техническите изисквания за него и с нашия Етичен кодекс.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon">
                        <i class="bx bx-list-check"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="team">Анонимно рецензиране</a>
                    </h4>
                    <p class="description">
                        Ръкописът подлежи на анонимизиране от нашите редактори и се изпраща до двама независими рецензента.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon">
                        <i class="bx bxs-graduation"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="team">Реномирана редколегия</a>
                    </h4>
                    <p class="description">
                        В редакторския екип на изданието участват преподаватели от факултета, а членове на редакционния борд 
                        са изявени изследователи от различни страни и научни организации.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon">
                        <i class="bx bx-world"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="about">Български & Английски</a>
                    </h4>
                    <p class="description">
                        Публикациите в „Език, интерпретация, концепции“ са на български или английски език и 
                        могат да бъдат полезни на специалисти от различни сфери на хуманитаристиката.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Featured Services Section -->