<section id="clients" class="clients section-bg">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            
            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/UniFreiburg.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/UniPlovdiv.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/Adam_Mickiewicz_University_transparent.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/Open_University.png" class="img-fluid" alt="">
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-6 d-flex align-items-center justify-content-lg-end justify-content-center">
                <img src="~/img/partners/Ankara_University.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/iib_transparent.png" class="img-fluid" alt="">
            </div>
            
            <div class="col-lg-4 col-12 d-flex align-items-center justify-content-lg-start justify-content-center">
                <img src="~/img/partners/The-University-of-Cassino.gif" class="img-fluid" alt="">
            </div>

        </div>

    </div>
</section>
