<section id="clients" class="clients section-bg">
    <div class="container" data-aos="zoom-in">
        
        <div class="row">
            <div class="col-sm-12 col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.doi.org/" target="_blank">
                    <img src="~/img/partners/DOI_Foundation.png" class="img-fluid" alt="Digital Object Identifier Foundation">
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://orcid.org/" target="_blank">
                    <img src="~/img/partners/ORCID_logo.png" class="img-fluid" alt="ORCiD">
                </a>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
                <a href="https://www.ceeol.com/" target="_blank">
                    <img src="~/img/partners/CEEOL-logo_full+www-sm.png" class="img-fluid" alt="Central and Eastern European Online Library">
                </a>
            </div>
        </div>

        @*
        <div class="row">
            
            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/UniFreiburg.png" class="img-fluid" alt="Albert Ludwig University of Freiburg">
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/UniPlovdiv.png" class="img-fluid" alt="Paisii Hilendarski University of Plovdiv">
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/Adam_Mickiewicz_University.png" class="img-fluid" alt="Adam Mickiewicz University">
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/Open_University.png" class="img-fluid" alt="The Open University">
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-6 d-flex align-items-center justify-content-lg-end justify-content-center">
                <img src="~/img/partners/Ankara_University.png" class="img-fluid" alt="Ankara University">
            </div>

            <div class="col-lg-4 col-6 d-flex align-items-center justify-content-center">
                <img src="~/img/partners/Institute_for_Literature_BAS.png" class="img-fluid" alt="Institute for Literature, Bulgarian Academy of Sciences">
            </div>
            
            <div class="col-lg-4 col-12 d-flex align-items-center justify-content-lg-start justify-content-center">
                <img src="~/img/partners/University_of_Cassino.gif" class="img-fluid" alt="University of Cassino">
            </div>

        </div>
        *@

    </div>
</section>
