<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">

    <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/Prof.Aleksander.Mikołajczak.jpg" class="testimonial-img" alt="">
                        <h3>Проф. дн Александър Войчех Миколайчак</h3>
                        <h4>Университет „Адам Мицкевич“, Познан, Полша</h4>
                        @*<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>*@
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/Prof.Elisabeth.Cheauré.jpg" class="testimonial-img" alt="">
                        <h3>Проф. д-р Елизабет Шоре</h3>
                        <h4>Университет „Алберт Лудвиг“, Фрайбург, Германия</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/Prof.Nikolay.Aretov.jpg" class="testimonial-img" alt="">
                        <h3>Проф. дфн Николай Аретов</h3>
                        <h4>Институт за литература – Българска академия на науките, София, България</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/saverio.tomaiuolo.jpg" class="testimonial-img" alt="">
                        <h3>Доц. д-р Саверио Томайоло</h3>
                        <h4>Университет на Касино и Южен Лацио, Италия</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Проф. д-р Суман Гупта</h3>
                        <h4>Open University, Милтън Кийнс, Великобритания</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Проф. д-р Хюсеин Мевсим</h3>
                        <h4><a href="#" target="_blank">Анкарски университет, Турция</a ></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>гл. ас. д-р Ваня Георгиева</h3>
                        <h4>Технически сътрудници</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!-- End Testimonials Section -->