﻿@{
    ViewData["Title"] = "За списанието";
}


<section class="py-4">

    <div class="container px-4 px-lg-5 my-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <h2>ЗА СПИСАНИЕТО</h2>
            <p>
                @*  TODO: Fill ISSN  *@
                „Език, интерпретация, концепции“ (pISSN …………, eISSN …………) е списание на Филологическия факултет на Пловдивския университет „Паисий Хилендарски“. В редакторския екип на изданието участват преподаватели от факултета, а членове на редакционния борд са изявени изследователи от различни страни и научни организации. Годишно излизат два броя, единият от които е тематичен.
            </p>
            <p>
                Текстовете, постъпили в редакцията на списанието, подлежат на двойно анонимно рецензиране от двама независими рецензенти – експерти в съответната научна област. Публикуването в „Език, интерпретация, концепции“ е безплатно за авторите и за институциите, към които те принадлежат. Достъпът до онлайн формата на изданието е свободен, безплатен и до целия текстови обем.
            </p>

        </div>


    </div>

    <div class="container px-4 px-lg-5 my-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <h2>ЦЕЛИ И ОБХВАТ НА СПИСАНИЕТО</h2>

            <p>
                „Език, интерпретация, концепции“ публикува статии по проблеми на теорията, историята и социологията на езика и литературата, културологични, медийни и компаративистки изследвания, проучвания относно диалозите между изкуствата, трудове върху стратегиите и практиките в хуманитарното образование, рецензии за академични книги.
            </p>
            <p>
                Списанието предоставя трибуна на изследователи с различни методологически нагласи, от различни поколения и идентифициращи се с различни културни традиции и контексти. Изданието се стреми да формира пространство на толерантния и стойностен
                интелектуален дебат върху проблемите, занимаващи съвременните изследователи хуманитаристи, да популяризира постиженията на български и чужди учени, да се съобразява с потребностите на читателска аудитория със специфични интереси и подготвеност. Публикациите в „Език, интерпретация, концепции“ са на български или английски език и могат да бъдат полезни на специалисти от различни сфери на хуманитаристиката.
            </p>
            <p>
                Списанието се финансира от Пловдивския университет и се издава от Университетско издателство „Паисий Хилендарски“.
            </p>
            <p>
                Лиценз: CC BY-NC-ND 4.0 / Attribution-NonCommercial-NoDerivatives 4.0 International
            </p>
        </div>
    </div>

    <div class="container px-4 px-lg-5 my-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <pre>
        Електронна поща: <a href="mailto:review-linc@uni-plovdiv.bg">review-linc@uni-plovdiv.bg</a>
        Адрес на редакцията: Пловдив 4000, ПУ „Паисий Хилендарски“,
        „Цар Асен“ 24, ет. 3, кабинет 325
            </pre>
            <pre>
        Адрес на Издателя: Пловдив 4000, Пловдивско университетско издателство,
        „Цар Асен“ 24
            </pre>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#about").addClass('active');
        })
    </script>
}