@{
    ViewData["Title"] = "Етичен кодекс";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <h2>ЕТИЧЕН КОДЕКС</h2>
            <p>
                Издателят и редакторският екип на „Език, интерпретация, концепции“ се ръководят от нормите и утвърдените международни стандарти в научната публикационна дейност, отразени в документите на Committee on Publication Ethics (COPE, <a href="http://publicationethics.org/">http://publicationethics.org/</a>)
            </p>
        </div>
        <h3>РЕДАКТОРСКИЯТ ЕКИП:</h3>
        <ul class="mx-2">
            <li>
                Съобразява работата си с насоките на Code of Conduct and Best Practice Guidelines for Journal Editors (<a href="https://publicationethics.org/files/Code_of_conduct_for_journal_editors_Mar11.pdf">https://publicationethics.org/files/Code_of_conduct_for_journal_editors_Mar11.pdf</a>);
            </li>
            <li>
                Отговаря за цялостната научна стратегия на изданието, стреми се да привлича като автори изявени в своята област български и чужди учени, както и перспективни млади изследователи от различни страни и институции;
            </li>
            <li>
                ангажира като рецензенти експерти с авторитет и с безспорни заслуги в съответната научна област (член на редакторския екип не може да бъде рецензент);
            </li>
            <li>
                селектира съдържанието на списанието в съответствие с актуалните интереси на професионалната общност;
            </li>
            <li>
                осигурява представеност на разнообразни гледни точки, не ограничава свободата на изразяване на научни позиции и стимулира научния дебат в хуманитаристкото поле;
            </li>
            <li>
                води се от чисто научни критерии, цели и задачи при подбора на текстове; не допуска каквато и да форма на дискриминация по расови, етнически, религиозни, полови или възрастови белези;
            </li>
            <li>
                съблюдва политиката на списанието по отношение на авторските права, съобразена със Закона за авторското право и сродните му права на Република България и с добрите световни практики в съответната сфера (виж Publication Agreement);
            </li>
            <li>
                противодейства спрямо неприемливите практики (постъпилите за разглеждане текстове се проверяват за плагиатство; гарантира се коректността в отношенията между съавтори чрез изискване на разделителен протокол, посочващ дяловете участие на всеки от авторите при изготвянето на конкретната статия/студия; следи се за възникване на евентуален конфликт на интереси);
            </li>
            <li>
                осигурява проверимост на работата по приемане, рецензиране и публикуване на текстове;
            </li>
            <li>
                стриктно съблюдава процедурите по двойно анонимно рецензиране на статиите, постъпили в Редакцията;
            </li>
            <li>
                информира своевременно автора за етапите на предпубликационната работа по статията/студията му и подпомага усъвършенстването на предоставения труд;
            </li>
            <li>
                осигурява конфиденциалност на отношенията с авторите и с рецензентите, както и на кореспонденцията, свързана с подобряване на качествата на един или друг текст;
            </li>
            <li>
                не използва за лично облагодетелстване информация, получена в процеса на работа с авторите и с рецензентите;
            </li>
            <li>
                при сигнал за някакъв вид некоректност във вече публикуван текст прави необходимото аудиторията да бъде информирана за проблемното съдържание (оповествява редакторската позиция по възникналия казус и/или опониращото мнение, и/или корективния текст на самия автор);
            </li>
            <li>
                в сътрудничество с издателя се грижи за електронния архив на изданието и перманентната видимост на публикуваните текстове на сайта на „Език, интерпретация, концепции“.
            </li>
        </ul>

        <h3>АВТОРЪТ:</h3>

        <ul class="mx-2">
            <li>
                Може да предложи на списанието само своя собствена разработка, която не е публикувана и не е депозирана в друго издание;
            </li>
            <li>
                трябва да е изготвил текста си съобразно техническите изисквания към публикациите в „Език, интерпретация, концепции“;
            </li>
            <li>
                носи отговорност за достоверността на първичните данни, които функционализира в изследването си, и за оригиналността на предлагания труд;
            </li>
            <li>
                при следващо публикуване на текста вмества в него коректна библиографска отпратка към първата му публикация в „Език, интерпретация, концепции“;
            </li>
            <li>
                цитира точно и пълно всички източници, които са ползвани при създаването на научната статия;
            </li>
            <li>
                трябва да посочва институциите, организациите, проектите, личностите, които имат отношение към разработката му (чрез финансиране на проучвателната дейност, чийто резултат е тя, чрез предоставяне на специфична информация, условия за работа, достъп до непубличен архив и пр.);
            </li>
            <li>
                съобщава при възникване на конфликт на интереси;
            </li>
            <li>
                отговаря на въпросите на рецензентите, коментира бележките им и ако е необходимо, осъществява промени в текста си; при несъгласие с предложените опции за коригиране на труда има право да оттегли предложеното за публикация;
            </li>
            <li>
                информира своевременно Редакцията, ако след депозирането на текст открие сериозен пропуск или грешка в труда си;
            </li>
            <li>
                не оповестява подробности от съвместната си работа с редакторския екип в рамките на публикационния процес;
            </li>
            <li>
                спазва Етичния кодекс на изданието и общосподелените академични норми за колегиално поведение.
            </li>
        </ul>

        <h3>РЕЦЕНЗЕНТЪТ:</h3>

        <ul class="mx-2">
            <li>
                Съобразява работата си с насоките на  Ethical Guidelines for Peer Reviewers (<a href="https://publicationethics.org/resources/guidelines/cope-ethical-guidelines-peer-reviewers">https://publicationethics.org/resources/guidelines/cope-ethical-guidelines-peer-reviewers</a>);
            </li>
            <li>
                ако предложеният за оценяване текст съдържа и тип информация, която не кореспондира с компетентностния профил на поканения за рецензент, той трябва да откаже ангажимента. Същото трябва да направи и ако прецени, че не би могъл да спази срока за предаване на рецензия (срокът е три седмици);
            </li>
            <li>
                трябва да се стреми към обективност на преценката, да формулира ясно позицията си (препоръчва за публикуване; препоръчва за публикуване след корекции; не препоръчва за публикуване), да аргументира забележките си към текста, да предложи корекциите, които според него биха подобрили качествата на труда;
            </li>
            <li>
                уведомява Редакцията при евентуално възникване на конфликт на интереси;
            </li>
            <li>
                спазва поверителността на информацията, получена при работата върху конкретен текст, не използва тази информация за лична изгода и не я обсъжда с лица извън редакторския екип;
            </li>
            <li>
                съобразява се с Етичния кодекс на изданието.
            </li>
        </ul>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#codex").addClass('active');
        })
    </script>
}