@model IndexViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = HtmlLocalizer["HomeIndex_Title"];
}

@section Hero {
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            
            @* TODO: можем ли да регистрираме линк.uni-plovdiv.bg *@

            <h1>@HtmlLocalizer["Welcome_Message"]</h1>  @* TODO: да се попълни с кратко обобщение на мисията *@
            <h2>@HtmlLocalizer["Welcome_Description"] :: Short descriptive sentence about the platform's mission</h2>
            <div class="d-flex">
                <a href="#about" class="btn-get-started scrollto">@HtmlLocalizer["GetStarted_Message"]</a>
                @* <a href="https://www.youtube.com/watch?v=ouH107WFcQk" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>@HtmlLocalizer["WatchVideo_Message"]</span></a> *@
            </div>
        </div>
    </section><!-- End Hero -->
}

<partial name="_Featured"/> 

<partial name="_About"/>

<partial name="_Reviews" model="Model.ReviewsViewModel" />

<partial name="_Counts" model="Model.CountsViewModel" />

<partial name="_Services" />

<partial name="_Codex" />

<partial name="_Partners" />

<partial name="_Portfolio" />

<partial name="_Team"/>

<partial name="_Board" />

@* <partial name="_Pricing" /> *@

<partial name="_Contact"/>

<partial name="_Questions" />