@using linc.Utility
@{
    ViewData["Title"] = HtmlLocalizer["HomePrivacy_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>@HtmlLocalizer["NavItem_Privacy"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<h1 class="text-center">ПОЛИТИКА ЗА БИСКВИТКИТЕ И ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h1>

<p>
    Taзи пoлитиĸa ce oтнacя дo биcĸвитĸите и поверителността на личните данни, събирани и обработвани от Пловдивския университет „Паисий Хилендарски“ (наричан навсякъде по-долу „Пловдивския университет“), с БУЛСТАТ 000455457, с адрес: гр. Пловдив 4000, ул. Цар Асен № 24, във връзка с функционирането на интернет страницата LINC.UNI-PLOVDIV.BG (наричана навсякъде по-долу „интернет страницата“).
</p>

<h2 id="cookies">I. ПОЛИТИКА ЗА БИСКВИТКИТЕ</h2>

<h3>Kaĸвo пpeдcтaвлявaт биcĸвитĸитe?</h3>

<p>
    Биcĸвитĸитe ca фaйлoвe c инфopмaция, вĸлючвaщи нeoгpaничeнo тeĸcтoвo cъдъpжaниe, ĸoитo ce cъxpaнявaт в ĸoмпютpитe нa пoтpeбитeля c цeл пoдoбpявaнe paбoтaтa cъc cъoтвeтната интернет страница. Teзи фaйлoвe пoзвoлявaт пoтpeбитeлят дa бъдe paзпoзнaт и интернет страницата дa бъдe aдaптиpaна cпpямo нeгoвитe пpeдпoчитaния. Биcĸвитĸитe oбиĸнoвeнo cъдъpжaт имeтo нa интернет страницата, ĸъм ĸoятo пpинaдлeжaт, вpeмeтo, зa ĸoeтo ce cъxpaнявaт нa ĸoмпютъpa нa пoтpeбитeля, и yниĸaлeн нoмep.
</p>

<h3>Зa ĸaĸвo ce използвaт биcĸвитĸитe?</h3>

<p>
    Биcĸвитĸитe ce изпoлзвaт зa aдaптиpaнe на cъдъpжaниeтo нa интернет страницата ĸъм пpeдпoчитaниятa нa индивидyaлния пoтpeбитeл и oптимизиpaнe paбoтaтa c интернет страницата. Изпoлзвaт ce oщe зa изгoтвянeтo нa aнoнимнa oбщa cтaтиcтиĸa, ĸoятo ни пoмaгa дa paзбepeм ĸaĸ пoтpeбитeлят paбoти c интернет страницата, ĸoeтo пoмaгa зa пoдoбpявaнeтo нa нейната cтpyĸтypa и cъдъpжaниe, ĸaтo в cъщoтo вpeмe нямa дocтъп дo личнaтa пoтpeбитeлcĸa инфopмaция.
</p>

<h3>Kaĸви биcĸвитĸи използваме?</h3>

<p>
    Използваме два вида биcĸвитĸи – временни и фиĸcиpaни. Πъpвитe ca вpeмeнни фaйлoвe, ĸoитo ce гeнepиpaт в ĸoмпютъpa нa пoтpeбитeля, дoĸaтo тoй нe излeзe oт интернет страницата или нe зaтвopи дaдeнaтa aплиĸaция (yeб бpayзъp). Фиĸcиpaнитe фaйлoвe ocтaвaт в ĸoмпютъpa нa пoтpeбитeля зa вpeмe, oпpeдeлeнo в пapaмeтpитe нa биcĸвитĸитe, или дoĸaтo нe бъдaт изтpити pъчнo oт пoтpeбитeля.
</p>

<h4>.netCore.linc.antiForgery</h4>

<p>
    Бисквитката се използва за предотвратяване на атаки с Cross-Site Request Forgery (CSRF) на нашите уеб приложения. Тази мярка за сигурност гарантира, че всяко клиентско взаимодействие със сървъра е истинско и разрешено, предпазвайки потребителските данни от неоторизирани действия. Бисквитката не проследява активността на потребителите и не събира лична информация, а служи единствено за подобряване на сигурността на потребителските взаимодействия на нашия уебсайт.
</p>

<h4>.netCore.linc.identity</h4>

<p>
    Бисквитката е от съществено значение за управление на удостоверяването на потребителя в нашите уеб приложения. Той улеснява процеса на влизане и поддържа сесията на потребителя, в който е влязъл, което позволява безпроблемно и сигурно потребителско изживяване в нашия сайт. Тази бисквитка не проследява лична информация освен това, което е необходимо за целите на удостоверяването. Използва се стриктно за разпознаване на потребителите и за предоставяне на достъп до техните специфични акаунти и свързани функции.
</p>

<h4>.netCore.linc.language</h4>

<p>
    Бисквитката се използва за съхраняване на езиковите предпочитания на потребителя на нашия уебсайт. Той подобрява изживяването при сърфиране, като представя съдържанието на нашия сайт на езика, избран от потребителя по време на неговото посещение. Тази бисквитка не проследява лична информация или потребителско поведение; коригират се езиковите настройки единствено въз основа на избора на потребителя, за да се гарантира, че съдържанието е достъпно и съобразено с предпочитания от него език.
</p>

<h4>.netCore.linc.tempData</h4>

<p>
    Бисквитката се използва предимно за прехвърляне на съобщения или известия до потребителя през различни страници на нашия уебсайт по време на една сесия. Той гарантира, че важна информация, като съобщения за грешки или известия за потвърждение, се показват точно, докато потребителите навигират през сайта. Тази бисквитка не запазва лична информация и се изтрива в края на сесията на браузъра. Тя играе ключова роля в осигуряването на безпроблемно комуникационно изживяване, като подобрява взаимодействието на потребителите с нашия уебсайт, като гарантира, че съобщения се доставят по подходящ начин.
</p>

<h3>Съдържат ли биcĸвитĸитe лична информация?</h3>

<p>
    Личната информация, ĸoятo ce aĸyмyлиpa чрез биcĸвитĸитe, мoжe да бъде изпoлзвaнa caмo зa извъpшвaнe нa oпpeдeлeни oперaции зa пoтpeбитeля. Taĸaвa информация ce ĸpиптиpa по начин, ĸoйтo прaви дocтъпa дo нeя oт нeoтopизиpaни лицa нeвъзмoжeн.
</p>

<h3>
    Изтpивaнe нa биcĸвитĸи.
</h3>

<p>
    Πo пpaвилo aплиĸaциитe, изпoлзвaни зa cъpфиpaнe в интернет страницата, пoзвoлявaт зaпaзвaнeтo нa биcĸвитĸи пo пoдpaзбиpaнe. Taзи нacтpoйĸa мoжe дa бъдe пpoмeнeнa тaĸa, чe aвтoмaтичнoтo зaпaмeтявaнe нa биcĸвитĸи дa бъдe блoĸиpaнo в yeб бpayзъpa или пoтpeбитeлят дa бъдe инфopмиpaн вceĸи път, пpeди биcĸвитĸитe да бъдат запаметени нa ĸoмпютъpa. Дeтaйлнa инфopмaция зa paзличнитe нaчини зa paбoтa c биcĸвитĸи мoжe да бъде oтĸpитa в нacтpoйĸитe нa aплиĸaциятa на yeб бpayзъpa.
</p>

<p>
    Oгpaничaвaнeтo нa биcĸвитĸитe мoжe дa ce oтpaзи нa няĸoи фyнĸциoнaлнocти нa интернет страницата.
</p>

<h2>II. ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h2>

<h3 class="pt-2 pb-2">ДАННИ ЗА АДМИНИСТРАТОРА:</h3>

<h4>Наименование: Пловдивският университет „Паисий Хилендарски“</h4>
<p><strong>БУЛСТАТ</strong>: 000455457</p>
<p><strong>Адрес</strong>: гр. Пловдив 4000, ул. Цар Асен № 24.</p>

<h4>Данни за контакт с Отговорника по защита на данните:</h4>
<p><strong>Три имена</strong>: Панайот Живков Иванов</p>
<p><strong>E-mail</strong>: @SiteConstant.AdministratorEmail</p>

<hr />

<h3><strong>ЗАЩИТА НА ЛИЧНИТЕ ДАННИ</strong></h3>

<p>
    Пловдивският университет „Паисий Хилендарски“ обработва личните данни, които получава при работата на потребителите с интернет страницата LINC.UNI-PLOVDIV.BG в съответствие с разпоредбите на Регламент (ЕС) 2016/679 на Европейския парламент и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни и за отмяна на Директива 95/46/EО (наричан навсякъде по долу „Общ регламент за защита на личните данни“) и свързаната правна уредба, включително Закона за защита на личните данни.
</p>

<h3>Какво са Личните данни?</h3>

<p>
    „Лични данни“ означава всяка информация, свързана с идентифицирано физическо лице или физическо лице, което може да бъде идентифицирано („субект на данни“); физическо лице, което може да бъде идентифицирано, е лице, което може да бъде идентифицирано, пряко или непряко, по-специално чрез идентификатор като име, идентификационен номер, данни за местонахождение, онлайн идентификатор или по един или повече признаци, специфични за физическата, физиологичната, генетичната, психическата, умствената, икономическата, културната или социална идентичност на това физическо лице.
</p>

<h3>Какви Лични данни обработваме?</h3>

<p>
    Общи лични данни, които обработваме, са: имена, адрес на електронна поща, IP адрес и данни от „бисквитки“.
</p>

<p>
    <strong>Специални категории данни, които обработваме</strong>: не се събират и обработват
</p>

<h3>За какви цели обработваме Лични данни?</h3>

<p>
    Целите, за които Пловдивският университет „Паисий Хилендарски“ обработва Личните данни, са:
</p>

<ul>
    <li>Дейности по управление на интернет страницата LINC.UNI-PLOVDIV.BG;</li>
    <li>Поддръжка на определени функционалности на предлаганите услуги чрез интернет страницата;</li>
    <li>Ползването на „бисквитки”;</li>
    <li>Възможно е периодично да използваме личната Ви информация, за да изпращаме важни съобщения, като известия за промени в Общите условията за ползване на интернет страницата и различните ни политики.</li>
    <li>Възможно е и да използваме личната Ви информация за вътрешни цели като проверки, анализ на данни и проучвания за усъвършенстването на услугите и комуникацията с потребителите на Интернет страницата.</li>
</ul>

<h3>На какво основание обработваме Вашите Лични данни?</h3>

<ul>
    <li>Когато ползвате интернет страницата LINC.UNI-PLOVDIV.BG, ние  обработваме данните от „бисквитките“ на основание на вашето съгласие;</li>
    <li>С цел осигуряване на сигурността на интернет страницата LINC.UNI-PLOVDIV.BG ние използваме задължителните бисквитки на основание защита на наш легитимен интерес;</li>
    <li>При запитване, направено по електронна поща, ние обработваме предоставените от Вас лични данни с цел отговор на вашите въпроси на основание преддоговорно отношение.</li>
</ul>

<h3>На кого разкриваме Вашите Лични данни?</h3>

<p>
    В дадени случаи Пловдивският университет „Паисий Хилендарски“ може да разкрива лични данни пред наши партньори, които работят за нас, като предоставят продукти и услуги, свързани с дейността на Университета. Личната информация ще бъде споделяна от нас само с цел усъвършенстване на услугите, предоставяни на интернет страницата LINC.UNI-PLOVDIV.BG; тя няма да бъде споделяна с трети страни за техни маркетингови цели. Когато законът изисква това от нас, при съдебен процес, при съдебен спор и/или по заявка от страна на обществени и правителствени органи в или извън Вашата страна на местоживеене, Пловдивският университет „Паисий Хилендарски“ може да разкрие личните ви данни пред трети лица. Възможно е и да разкрием информация за Вас ако установим, че за целите на националната сигурност, правоприлагането или други проблеми от обществена значимост, такова разкриване е необходимо или уместно.
</p>

<h3>Трансфер в трети страни</h3>

<p>
    Пловдивският университет „Паисий Хилендарски“ не прехвърля данните Ви в трети страни извън Европейския съюз. В отделни случаи е възможно данните Ви да бъдат прехвърлени в трети страни за изпълнение  на договор между Пловдивският университет „Паисий Хилендарски“ и дружество, действащо като изпълнител за определени услуги. В тези случаи Пловдивският университет „Паисий Хилендарски“ гарантира този трансфер да бъде извършен при пълно съответствие с нивото на защита на лични данни, което се предоставя от Общия регламент за защита на личните данни.
</p>

<h3>За какъв срок съхраняваме Вашите Лични данни?</h3>

<p>
    Личните данни на потребители, създали потребителски профил на интернет страницата, се заличават след изтичането на 1095 дни (3 години), считано от последното влизане в потребителския профил.
</p>

<h3>Какви мерки за защита на Личните данни предприемаме?</h3>

<p>
    Мерките за сигурност, които се прилагат за защита на личните данни са: въвеждане както към момента на определянето на средствата за обработване, така и към момента на самото обработване, на подходящи технически и организационни мерки, които са разработени с оглед на ефективното прилагане на принципите за защита на данните, като свеждане на данните до минимум, и интегриране на необходимите гаранции в процеса на обработване, както и въвеждане на подходящи технически и организационни мерки, за да се гарантира, че по подразбиране се обработват само лични данни, които са необходими за всяка конкретна цел на обработването.
</p>

<h3>Какви са Вашите права?</h3>

<p>
    Във връзка със събирането и обработването на личните данни, Вие имате следните права:
</p>

<ul>
    <li>имате право да поискате копие от Вашите лични данни и право на достъп по всяко време до личните си данни;</li>
    <li>имате право да прехвърлите личните си данни на друг администратор на лични данни, без да бъдете възпрепятствани от наша страна;</li>
    <li>имате право да поискате да коригираме без ненужно забавяне неточните Ви лични данни, както и данните, които не са вече актуални;</li>
    <li>имате право да поискате личните Ви данни да бъдат изтрити без ненужно забавяне при наличието на някое от следните основания: личните данни повече не са необходими за целите, за които са били събрани; когато сте оттеглил своето съгласие; когато сте възразил срещу обработването, когато обработването е незаконосъобразно; когато личните данни трябва да бъдат изтрити с цел спазването на правно задължение по правото на Европейския съюз или правото на държава членка, което се прилага спрямо администратора; когато личните данни са били събрани във връзка с предлагането на услуги на информационното общество.</li>
</ul>

<p>
    Личните Ви данни може да не бъдат изтрити само поради някоя от следните причини:
</p>

<ul>
    <li>А) упражняване на правото на свобода на изразяването и правото на информация;</li>
    <li>Б) за спазване на правно задължение от администратора или за изпълнението на задача от обществен интерес, или при упражняването на официални правомощия, които са предоставени на администратора;</li>
    <li>В) по причини от обществен интерес в областта на общественото здраве;</li>
    <li>
        Г) за целите на архивирането в обществен интерес, за научни или исторически изследвания или за статистически цели, доколкото съществува вероятност заличаването да направи невъзможно или сериозно да затрудни постигането на целите на това обработване; или за установяването, упражняването или защитата на правни претенции.
        <ul>
            <li>имате право да поискате администраторът на личните Ви данни  да ограничи обработването на личните Ви данни, като в този случай данните ще бъдат само съхранявани, но не и обработвани.</li>
            <li>имате право да оттеглите Вашето съгласие за обработване на личните Ви данни по всяко време с отделна молба, депозирана пред нас.</li>
            <li>имате право на възражение срещу обработването на личните Ви данни, като компетентният да разгледа възражението орган е Комисия за защита на личните данни, адрес: гр. София 1592, бул. Проф. Цветан Лазаров № 2 (<a href="https://cpdp.bg" target="_blank">cpdp.bg</a>).</li>
            <li>
                при нужда да използваме Вашите лични данни за нова цел, която не е обхваната от настоящите условия, ще Ви предоставим ново известие за защита на данните и когато и където е необходимо, ще изискаме Вашето предварително съгласие за новото обработване.
            </li>
        </ul>
    </li>
</ul>

<h3>Какви са последиците ако оттеглите съгласието си за обработване?</h3>

<p>
    Оттеглянето на съгласие за обработване на личните Ви данни може да се направи по всяко време. Оттеглянето на съгласието не засяга законосъобразността на обработването преди оттеглянето.
</p>

<p>
    В качеството ми на потребител на услугите  на интернет страницата LINC.UNI-PLOVDIV.BG, <strong>след като се запознах със съдържанието на настоящата Политика за поверителност</strong>, декларирам, че давам съгласие <strong>Пловдивският университет „Паисий Хилендарски“</strong>, с БУЛСТАТ 000455457, с адрес: гр. Пловдив 4000, ул. Цар Асен № 24, да обработва и съхранява личните ми данни при горепосочените условия.
</p>

@section Newsletter {
    <partial name="Newsletter/_Empty" />
}