@{
    ViewData["Title"] = "Privacy Policy";
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Privacy Policy</h2>
                <ol>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>Privacy</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<section class="privacy-page">
    <div class="container">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</section>
