@using linc.Utility
@{
    ViewData["Title"] = HtmlLocalizer["HomePrivacy_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>@HtmlLocalizer["NavItem_Privacy"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<section id="privacy-page">
    <div class="container">
        <h1 class="text-center">COOKIE POLICY AND PRIVACY POLICY</h1>

        <p>
            This policy concerns cookies and the privacy of personal data collected and processed by Paisii Hilendarski University of Plovdiv (hereinafter referred to as “Plovdiv University”), BULSTAT 000455457, address: Plovdiv 4000, 24 Tsar Asen, in connection with the operation of webpage LINC.UNI-PLOVDIV.BG (hereinafter referred to as “webpage”).
        </p>

        <h2 id="cookies">I. COOKIE POLICY</h2>

        <h3>What are cookies?</h3>

        <p>
            Cookies are files containing unlimited textual content that are stored on users' computers to improve the functionality of the respective webpage. These files allow for the user to be recognized and the webpage to be adapted according to their preferences. Cookies generally include the name of the webpage they're associated with, the duration of storage, and a unique identifier.
        </p>

        <h3>What are cookies used for?</h3>

        <p>
            Cookies are used to adapt the content of a webpage to the preferences of an individual user and to optimize the functioning of the webpage. They are also used to generate anonymous aggregate statistics, which helps us understand how the user interacts with the webpage, aiding the improvement of its structure and content, while ensuring there is no access to the user’s personal data.
        </p>

        <h3>What cookies do we use?</h3>

        <p>
            We use two types of cookies – session cookies and persistent cookies. Session cookies are temporary files generated on the user’s computer until leaving the webpage or closing an application (web browser). Persistent files remain on the user’s computer for a period specified in the parameters of the cookies or until manually deleted by the user.
        </p>

        <h4>.netCore.linc.antiForgery</h4>

        <p>
            The cookie is used to prevent Cross-Site Request Forgery (CSRF) attacks on our web applications. This security measure ensures that every client interaction with the server is genuine and authorized, protecting user data from unauthorized actions. The cookie does not track user activity or collect personal information, but only serves to improve the security of user interactions on our website.
        </p>

        <h4>.netCore.linc.identity</h4>

        <p>
            The cookie is essential to manage user authentication in our web applications. It facilitates the login process and maintains the logged-in user's session, enabling a seamless and secure user experience on our site. This cookie does not track personal information beyond what is necessary for authentication purposes. It is used strictly to identify users and to provide access to their specific accounts and related features.
        </p>

        <h4>.netCore.linc.language</h4>

        <p>
            The cookie is used to store the user's language preferences on our website. It improves the browsing experience by presenting the content of our site in the language selected by the user during his visit. This cookie does not track personal information or user behavior; adjust language settings based solely on the user's choice to ensure that content is accessible and tailored to their preferred language.
        </p>

        <h4>.netCore.linc.tempData</h4>

        <p>
            The cookie is primarily used to transfer messages or notifications to the user across different pages of our website during a single session. It ensures that important information, such as error messages or confirmation notifications, is displayed accurately as users navigate through the site. This cookie does not store personal information and is deleted at the end of the browser session. It plays a key role in providing a seamless communication experience by improving user interaction with our website by ensuring that messages are delivered appropriately.
        </p>

        <h3>Do cookies contain personal data?</h3>

        <p>
            The personal data accumulated through the cookies can only be used for specific user-related operations. This data is encrypted in a way that makes unauthorized access by third parties impossible.
        </p>

        <h3>Deleting cookies.</h3>

        <p>
            By default, web-browsing applications allow the storage of cookies. This setting can be changed to block the automatic cookie storage in the web browser or to notify the user each time before cookies are stored on their computer. Detailed information about various cookie management options is available in the settings of the browser application.
        </p>

        <p>
            Restricting cookies may affect certain functionalities of the webpage.
        </p>

        <h2>II. PRIVACY POLICY</h2>

        <h3 class="pt-2 pb-2">ADMINISTRATOR DETAILS:</h3>

        <h4>Name: Paisii Hilendarski University of Plovdiv</h4>
        <p><strong>BULSTAT</strong>: 000455457</p>
        <p><strong>Address</strong>: Plovdiv 4000, 24 Tsar Asen Street</p>

        <h4>Data Protection Officer contact details:</h4>
        <p><strong>Full name</strong>: Panayot Zhivkov Ivanov</p>
        <p><strong>E-mail</strong>: @SiteConstant.AdministratorEmail</p>

        <hr />

        <h3><strong>PERSONAL DATA PROTECTION</strong></h3>

        <p>
            Paisii Hilendarski University of Plovdiv processes personal data collected during users’ interactions with the webpage LINC.UNI-PLOVDIV.BG in accordance with the provisions of Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (hereinafter referred to as General Data Protection Regulation) and the related legal framework, including the Personal Data Protection Act.
        </p>

        <h3>What is Personal Data?</h3>

        <p>
            “Personal data” is any information relating to an identified or identifiable natural person (“data subject”); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.
        </p>

        <h3>What Personal data do we process?</h3>

        <p>
            The general personal data that we process includes: names, email addresses, IP addresses, and cookie data.
        </p>

        <p>
            <strong>Special categories of data that we process</strong>: no such data is collected and processed
        </p>

        <h3>For what purposes do we process Personal data?</h3>

        <p>
            The purposes for which Paisii Hilendarski University of Plovdiv processes Personal data are:
        </p>

        <ul>
            <li>Activities related to the management of the webpage LINC.UNI-PLOVDIV.BG;</li>
            <li>Supporting certain functionalities of the services provided through the webpage;</li>
            <li>The use of cookies.</li>
            <li>We may occasionally use your data to send important notices, such notifications regarding changes to the General Terms and Conditions for using the webpage and our various policies.</li>
            <li>We may also use your personal data for internal purposes such as checks, data analysis and studies to improve services and communication with users of the webpage.</li>
        </ul>

        <h3>On what grounds do we process your Personal data?</h3>

        <ul>
            <li>While you are using the webpage LINC.UNI-PLOVDIV.BG, we process cookie data in accordance with your consent;</li>
            <li>In order to ensure the security of the webpage LINC.UNI-PLOVDIV.BG, we use necessary cookies based on the protection of our legitimate interests;</li>
            <li>When an enquiry is made by email, we use the personal data you provided in order to answer your questions based on a pre-contractual relationship.</li>
        </ul>

        <h3>To whom do we disclose your Personal data?</h3>

        <p>
            In certain cases Paisii Hilendarski University of Plovdiv may disclose your personal data to partners we collaborate with, who provide products and services relating to the activities of the University. We shall share your personal data only for the purpose of improving the services provided on the webpage LINC.UNI-PLOVDIV.BG; it shall not be shared with third parties for marketing purposes. When required by law, in case of legal proceedings, litigation and/or at the request of a public or government authority in or outside of your country of residence, Paisii Hilendarski University of Plovdiv may disclose your personal data to third parties. We may also disclose information about you if we determine that such disclosure is necessary or appropriate for purposes of national security, law enforcement, or other issues of public importance.
        </p>

        <h3>Transfer to third parties</h3>

        <p>
            Paisii Hilendarski University of Plovdiv shall not transfer your data to third parties outside the European Union. On separate occasions your personal data may be transferred to third parties for the purpose of fulfilling an agreement between Paisii Hilendarski University of Plovdiv and a company acting as a contractor for specific services. In such cases Paisii Hilendarski University of Plovdiv shall ensure that the transfer be carried out in full compliance with the level of personal data protection provided by the General Personal Data Protection Regulation.
        </p>

        <h3>For how long do we store your Personal data?</h3>

        <p>
            The personal data of users who have created a user account on the webpage are deleted after 730 days from the last login to the user account.
        </p>

        <h3>What measures for Personal data protection do we undertake?</h3>

        <p>
            The security measures undertaken for personal data protection include: implementing, both at the time of determining the means of processing and during the processing itself, appropriate technical and organizational measures designed to effectively implement data protection principles, such as minimizing data, and integrating necessary safeguards in processing process, as well as introducing appropriate technical and organizational measures to ensure that, by default, only data necessary for each specific purpose are processed.
        </p>

        <h3>What are your rights?</h3>

        <p>
            In relation to the collection and processing of your personal data, you have the following rights:
        </p>

        <ul>
            <li>you have the right to request a copy of your personal data and the right to access your personal data at any time;</li>
            <li>you have the right to transfer your data to another data controller without hindrance from our side;</li>
            <li>you have the right to request the correction of your inaccurate personal data without undue delay, as well as data that is no longer up to date;</li>
            <li>you have the right to request deletion of your personal data without undue delay on one of the following grounds: personal data are no longer necessary for the purposes for which they were collected; when you have withdrawn your consent; when you have objected to processing; when processing is unlawful; when personal data must be deleted to comply with a legal obligation under European Union law or the law of a Member State applicable to the controller; when personal data have been collected in relation to the provision of services of the information society.</li>
        </ul>

        <p>
            Personal data may not be deleted only for one of the following reasons:
        </p>

        <ul>
            <li>A. exercise of the right of freedom of expression and the right to information;</li>
            <li>B. compliance with a legal obligation of the controller or the performance of a task in the public interest, or in the exercise of official authority conferred upon the controller;</li>
            <li>C. for reasons of public interest relating to public health;</li>
            <li>
                D. for the purposes of archiving in the public interest, for scientific or historical research or statistical purposes, insofar as erasure is likely to render impossible or seriously impair the achievement of the objectives of such processing; or for the establishment, exercise, or defence of legal claims.
                <ul>
                    <li>you have the right to request that your personal data controller restrict the processing of your personal data, in which case your data shall only be stored but not processed.</li>
                    <li>you have the right to withdraw your consent to the processing of your personal data at any time by submitting a separate request to us.</li>
                    <li>you have the right to object to the processing of your personal data; the competent authority to review your objection is the Personal Data Protection Commission, address: Sofia 1592, 2 Prof. Tsvetan Lazarov Blvd. (<a href="https://cpdp.bg" target="_blank">cpdp.bg</a>).</li>
                    <li>
                        if we need to process your personal data for a new purpose not covered by the present terms and conditions, we shall give you a new data protection notice, and, whenever and wherever necessary, request your prior consent for the new processing.
                    </li>
                </ul>
            </li>
        </ul>

        <h3>What are the consequences of withdrawing your consent for processing?</h3>

        <p>
            You may withdraw your consent for processing of your personal data at any time. Withdrawing your consent does not affect the legality of the processing prior to the withdrawal.
        </p>

        <p>
            In my capacity as user of the services on webpage LINC.UNI-PLOVDIV.BG, <strong>having reviewed the contents of this Privacy Policy</strong>, I hereby declare that I consent for Paisii Hilendarski University of Plovdiv, BULSTAT 000455457, with address: Plovdiv 4000, 24 Tsar Asen Street, to process and store my personal data according to the above-described terms and conditions.            
        </p>
    </div>
</section>

@section Newsletter {
    <partial name="Newsletter/_Empty" />
}