@using linc.Utility
@{
    ViewData["Title"] = HtmlLocalizer["HomeSubmit_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>@HtmlLocalizer["NavItem_Submit"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<div class="portfolio-description">
    <h2>
        PROCEDURE FOR ACCEPTANCE, REVIEW AND PUBLICATION OF A MANUSCRIPT
    </h2>
    <p>
        The text proposed for publication is considered by the relevant editorial team (linguistic or literary). If the article/study meets the profile of the publication and complies with the technical requirements specified on our site, the editor-in-chief, after deleting the author's personal data (name, institutional affiliation, etc.), sends it for anonymous review. If one of the two reviewers recommends that the text not be published, and the other supports its publication, the editor-in-chief turns to a third reviewer, whose evaluation decides whether the journal will publish the work. The editor informs the author of questions, comments and recommendations formulated by the reviewers and works with the author on possible changes to the article/study. After the proofreading and pagination of the text, the author receives it again for final (minor) corrections and to confirm his consent to the article/study being published in its final form approved by the Editorial Board.
    </p>
</div>
<div class="portfolio-description">
    <h2 class="pt-4">
        GUIDELINES FOR AUTHORS
    </h2>
    <div>
        <p>
            The journal features texts in Bulgarian and English: studies (up to 45,000 characters including spaces) and reviews (up to 10,000 characters including spaces) which have not been published elsewhere - including as parts of books - and have not been submitted to other editions. Submissions exceeding the limit set for the relevant category will be examined and published at the discretion of the editors. Submissions should be sent to <a href="mailto:review-linc@uni-plovdiv.bg">review-linc@uni-plovdiv.bg</a> in .doc/.docx and .pdf format, using the Times New Roman font.
        </p>
        <p>
            The author’s first and last name and his/her affiliation should be given first, followed by the article/study title. The key points of the study should be presented in an abstract of up to 200 words (keywords – up to 7). If the original text is in Bulgarian, all of the above should also be provided in English. Acknowledgements (if applicable), references, a list of abbreviations (if applicable), information about the author (in English – name; degree; position; workplace; city; country; work e-mail; WoS ResearcherID, Scopus Author ID, ORCID iD, РИНЦ Author ID, if available) should be given after the abstract. A brief summary of the author's professional field, areas of research interest, and relevant research should be sent in a separate file.
        </p>
        <p>
            If the study includes graphs, tables and/or illustrations, they should be numbered and placed where they are first mentioned, rather than at the end of the text.
        </p>
        <p>
            Using tabs, bold, underlines, spaces within a word, uppercase-only words or passages (meaningful emphasis may be indicated by italics) is strongly discouraged; in texts in Cyrillic, centuries are written in Roman numerals, in English – in Arabic ones.
        </p>
        <p>
            All extra notes are footnotes, automatically numbered (10 pts., single line spacing).
        </p>
        <p>
            Self-citation is discouraged.
        </p>
        <p>
            Sources should be referenced within the text. The cited author’s surname, the year of publication of the relevant work, followed by a colon and the page number(s) referred to should be written in parentheses.
        </p>

        <p class="fst-italic">In-Text Citation Examples</p>

        <ul class="mx-4">
            <li>
                when the author refers to a publication:
                <br />The following example is from Dan Dana’s analysis of the heritage of Zalmoxis (Dana 2008);
            </li>
            <li>
                when citing a specific page or pages:
                <br />… The deverbative noun… (Markey 1985: 209; Hamp 1982: 165–166).
            </li>
            <li>
                when quoting texts in Cyrillic, both the original and a transliterated version of the author’s name is written in brackets as in:
                <br />Both languages shared the devoicing of the PIE glottalic stops (Дуриданов / Duridanov 1976: 101).
            </li>
            <li>
                As far as Cyrillic and Greek transliteration are concerned, the transliteration rules established by the respective countries apply. Bulgarian names and titles of works are transliterated in accordance with the Bulgarian Transliteration Act – <a href="https://www.mrrb.bg/bg/zakon-za-transliteraciyata/">https://www.mrrb.bg/bg/zakon-za-transliteraciyata/</a>. When transliterating Bulgarian, authors can use the following website: <a href="https://slovored.com/transliteration/">https://slovored.com/transliteration/</a> as an aid, and when transliterating Russian: <a href="https://www.seo-ap.ru/translit/">https://www.seo-ap.ru/translit/</a>.
            </li>
            <li>
                Electronic sources should be cited by providing the author’s name and the date of the publication in brackets. If the author is unknown, the title (in case of long titles, the first two or three words should suffice) and the date are given. The cited electronic sources are also included in the list of references.
            </li>
        </ul>

        <p>
            In the list of references, the authors’ surnames must be arranged alphabetically (Cyrillic script, Latin script, Greek script) and Cyrillic and Greek entries must be transliterated. The transliterated variant should be provided in square brackets immediately after the original entry. The ISBN/ISSN and DOI must be added in the case the edition/publication having such identifiers.
        </p>

        <p class="fst-italic">End-text Reference Examples</p>

        <ul>
            <li>
                Single-author books:
                <br />Lewis 2002: Lewis, G. The Turkish Language Reform: A Catastrophic Success. New York: Oxford University Press. ISBN 978-0199256693.
                <br />Андрейчин 1944: Андрейчин, Л. Основна българска граматика. София: Хемус. [Andreychin 1944: Andreychin, L. Osnovna balgarska gramatika. Sofia: Hemus.].
            </li>
            <li>
                Books by more than one author:
                <br />Thomason & Kaufmann 1992: Thomason, S. & Kaufmann, T. Language Contact, Creolization, and Genetic Linguistics. Berkeley: University of California Press. ISBN 9780520078932.
                <br />Килева-Стаменова, Денчева 1997: Килева-Стаменова, Р., Денчева, Е. Речник: „неверните приятели на преводача“. Пловдив: Lettera. [Kileva-Stamenova, Dentscheva 1997: Kileva-Stamenova, R., Dencheva, Е. Rechnik: „nevernite priyateli na prevodacha“. Plovdiv: Lettera.]. ISBN 954-516-066-7

            </li>
            <li>
                When an author has more than one publication in a given year, the publications are listed alphabetically by title:
                <br />Георгиев 1957а: Георгиев, Вл. По въпроса за носовите гласни в съвременния български език. Български език, 7 (1957), 4, 353–376. [Georgiev 1957a: Georgiev, Vl.Po vaprosa za nosovite glasni v savremenniya balgarski ezik. Balgarski ezik, 7 (1957), 4, 353–376.]. ISSN 0005-4283
                <br />Георгиев 1957б: Георгиев, Вл. Тракийският език. София: БАН. [Georgiev 1957b: Georgiev, Vl. Trakiyskiyat ezik. Sofia: BAN.].

            </li>
            <li>
                Publications in conference proceedings, edited volumes or festschriften:
                <br />Lubotsky 2001: Lubotsky, A. The Indo-Iranian Substratum. In: Carpelan, C., Parpola, A., Koskikallio, P. (Eds.): Early Contacts between Uralic and Indo-European: Linguistic and Archaeological Considerations. Vammala: Finno-Ungaric Society, 301–317. ISBN 9255150593.
                <br />Таринска 1980: Таринска, Ст. Софроний Врачански, румънското общество и румънската литература. В: Русев, П., Ангелов, Б., Конев, И., Кицимия, Й., Велики, К., Ангелеску, М. (ред.): Българо-румънски литературни взаимоотношения през XIX век. София: БАН, 179–201.[Tarinska 1980: Tarinska, St. Sofroniy Vrachanski, rumanskoto obshtestvo i rumanskata literature. V: Rusev, P., Angelov, B., Konev, I., Kicimiya, Y. Veliki, K., Angelesku, M. (red.): Balgaro-rumanski literaturni vzaimootnosheniya prez XIX vek. Sofia: BAN, 179–201.].

            </li>
            <li>
                Publications in periodicals:
                <br />Weigand 1921: Weigand, G. Die bulgarischen Rufnamen, ihre Herkunft, Kürzungen und Neubildungen. Jahresbericht des Instituts für rumänische Sprache zu Leipzig, XXVI–XXIX, 104–192.
                <br />Мирчев 1952: Мирчев, К. За периодизацията на историята на българския език. Известия на Института за български език, 1 (1952), 194–202. [Mirchev 1952: Mirchev, K. Za periodizaciyata na istoriyata na balgarskiya ezik. Izvestiya na Instituta za balgarski ezik, 1 (1952), 194–202.]. ISSN 0323-9934

            </li>
            <li>
                Dictionaries:
                <br />БЕР = Български етимологичен речник. София: БАН. 1971–.[BER = Balgarski etimologichen rechnik. Sofia: BAN. 1971–.].
            </li>
            <li>
                Online resources:
                <ul>
                    <li>
                        Books:
                        <br />Dereń 2005: Dereń, B. Pochodne nazw własnych w słowniku i w tekscie. Opole: “Uniwersytet Opolski”, 2005. [Studia i Monografie, Nr 348]. &lt;https://www.sbc.org.pl/Content/77263/&gt;, retrieved on 09.10.2015.
                    </li>
                    <li>
                        Articles:
                        <br />Rose-Redwood & Alderman 2011: Rose-Redwood, R. & Alderman, D. Critical Interventions in Political Toponymy. ACME: An International E-Journal for Critical Geographies, 10 (2011), 1, 1–6. &lt;http://www.acme-journal.org/index.php/acme/article/view/879/735&gt;, retrieved on 06.11.2016.
                    </li>
                </ul>

            </li>
        </ul>

        <p class="fw-bold p-2">
            The Editorial Board retains the right not to accept texts that do not comply with the formal requirements for submissions.
        </p>
    </div>
</div>

@section Newsletter {
    <partial name="Newsletter/_Submit" />
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#nav-contact").addClass('active');
        })
    </script>
}