@{
    ViewData["Title"] = "Екип";
}

<section class="py-4">
    <div class="container px-4 px-lg-5 my-4">
        <h2 class="gx-4">ЕКИП НА СПИСАНИЕТО</h2>
        <div class="row gx-4 gx-lg-5 px-4 px-lg-4">

            <h3>Редактори</h3>

            <pre>
    Език и култура: гл. редактор доц. д-р Снежа Цонева-Матюсън 
    доц. д-р Фани Бойкова,  https://orcid.org/0000-0002-1581-319X 
    проф. д-р Вера Маровска
    доц. д-р Борян Янев
        </pre>

            <pre>
    Литература и култура: гл. редактор проф. дфн Инна Пелева, https://orcid.org/0000-0002-4190-6015
    доц. д-р Яна Роуланд, https://orcid.org/0000-0002-0906-1454
    доц. д-р Живко Иванов, https://orcid.org/0000-0002-3499-3544
    доц. д-р Младен Влашки, https://orcid.org/0000-0003-4666-3320 
        </pre>


            <h3>РЕДАКЦИОНЕН БОРД:</h3>

            <ul>
                <li>
                    Проф. дн Александър Войчех Миколайчак, Университет „Адам Мицкевич“, Познан, Полша
                    <br/> <a href="https://orcid.org/0000-0002-4495-7440">https://orcid.org/0000-0002-4495-7440</a>
                </li>
                <li>
                    Проф. д-р Елизабет Шоре, Университет „Алберт Лудвиг“, Фрайбург, Германия
                    <br/> <a href="https://www.slavistik.uni-freiburg.de/personal/elisabeth-cheaure">https://www.slavistik.uni-freiburg.de/personal/elisabeth-cheaure</a>
                </li>
                <li>
                    Проф. дфн Николай Аретов, Институт за литература – Българска академия на науките, София, България
                    <br/> <a href="https://orcid.org/0000-0003-0488-5179">https://orcid.org/0000-0003-0488-5179</a>
                </li>
                <li>
                    Доц. д-р Саверио Томайоло, Университет на Касино и Южен Лацио, Италия
                    <br/> <a href="https://orcid.org/0000-0002-4457-8053">https://orcid.org/0000-0002-4457-8053</a>
                </li>
                <li>
                    Проф. д-р Суман Гупта, Open University, Милтън Кийнс, Великобритания
                    <br/> <a href="https://www.open.ac.uk/people/sg2226">https://www.open.ac.uk/people/sg2226</a>
                </li>
                <li>
                    Проф. д-р Хюсеин Мевсим, Анкарски университет, Турция
                    <br/>Prof. HÜSEYİN MEVSİM | AVESİS (<a href="https://ankara.edu.tr">ankara.edu.tr</a>)
                </li>
                <li>
                    Технически сътрудници: гл. ас. д-р Ваня Георгиева
                </li>
            </ul>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#team").addClass('active');
        })
    </script>
}