@{
    ViewData["Title"] = HtmlLocalizer["HomeTerms_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>@HtmlLocalizer["NavItem_Terms"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}


<h1 class="text-center">GENERAL TERMS AND CONDITIONS FOR THE WEBPAGE LINC.UNI-PLOVDIV.BG</h1>

<p>
    This document contains the General Terms and Conditions of the agreement for the use of the information services and resources provided by the Department of Philology of Paisii Hilendarski University of Plovdiv through the webpage LINC.UNI-PLOVDIV.BG (hereinafter referred to as “General Terms and Conditions”) and governs the contractual relationship between Paisii Hilendarski University of Plovdiv and each of the users when using the information services and resources, for personal and non-commercial purposes, available through the webpage LINC.UNI-PLOVDIV.BG.
</p>

<p>
    By accessing (loading) the webpage, you agree to be bound by these General Terms and Conditions and all subsequent changes thereto, and undertake to comply with them. If you do not agree with all general terms and conditions below, please, do not use the webpage LINC.UNI-PLOVDIV.BG.
</p>

<h2>І. DEFINITIONS</h2>

<p>When construing and applying these General Terms and Conditions, the used terminology and expressions shall have the following meanings:</p>

<ul>
    <li>An “IP Address“ is a unique identifier associating a device, webpage, or user resource in a manner that allows the identification of its location within the global internet network.</li>
    <li>Paisii Hilendarski University of Plovdiv (hereinafter referred to as “Plovdiv University”) is a state higher education institution according to the Higher Education Act, with BULSTAT 000455457, address: Plovdiv 4000, 24 Tsar Asen Street, which provides the services subject to these General Terms and Conditions through its administered portal: http:// LINC.UNI-PLOVDIV.BG.</li>
    <li>LINC.UNI-PLOVDIV.BG (hereinafter referred to as “the webpage LINC.UNI-PLOVDIV.BG” or “webpage”) is a webpage – a virtual information and academic resource whereby USERS are provided information and academic services and resources, described in these General Terms and Conditions.</li>
    <li>An “Electronic Hyperlink” is a link designated on a specific webpage that allows automated redirection to another webpage, informational resource, or object through standardized protocols.</li>
    <li>“Malicious Activity” refers to any action or inaction that violates internet etiquette or causes harm to individuals connected to the internet or affiliated networks, including but not limited to sending unwanted emails (SPAM, JUNK MAIL), flooding channels (FLOOD), gaining access to resources with unauthorized rights and passwords, exploiting system vulnerabilities for personal gain or obtaining information (HACK), engaging in actions that may be classified as industrial espionage or sabotage, damaging or destroying systems or information arrays (CRACK), sending "trojan horses" or causing the installation of viruses or remote control systems, disrupting the normal operation of other internet users and affiliated networks, as well as engaging in any actions that may be classified as a crime or administrative offence under Bulgarian legislation or other applicable law.</li>
    <li>An “Information System” is a device or system of connected devices, one or more of which is intended to store, transmit, or receive electronic documents.</li>
    <li>A “USER” is any person who uses any of the information and academic services and resources provided through the webpage LINC.UNI-PLOVDIV.BG.  </li>
    <li>A “User Account” is any section of LINC.UNI-PLOVDIV.BG. that contains information about the user provided by them during their registration and stored by Plovdiv University, with the user account being accessed through entering an email address and password. The account allows the user to review and edit the details entered during registration, to reset their password, etc.  </li>
    <li>An “Email address” is the chosen electronic mail address by the user through which they access their user account and identify themselves on LINC.UNI-PLOVDIV.BG.</li>
    <li>А “Password” is a code of letters and/or digits chosen by the user, which, along with the chosen email address, identifies the user and grants them access to their user account.</li>
    <li>A “Server” is a device or system of connected devices, on one or more of which a system software is installed for performance of tasks related to storing, processing, receiving, or transmitting information.</li>
    <li>A “Webpage” is a distinct location on the global internet network, accessible through its uniform resource locator (URL) via the HTTP or HTTPS protocol, which contains files, programs, text, sound, images, electronic references, or other materials and resources.</li>
    <li>A “Fortuitous Event” is an unforeseen circumstance of an extraordinary nature at the time of conclusion of the agreement, which objectively renders its performance impossible.  </li>
    <li>“Commercial Communications” are advertising or other communications which, directly or indirectly, present the goods, services, or reputation of a person engaged in commercial or craft activities or exercising a regulated profession. </li>
</ul>

<h2>ІI. SUBJECT OF THE AGREEMENT</h2>

<p>
    2.1. Plovdiv University, through the webpage LINC.UNI-PLOVDIV.BG, provides the USER with the services outlined in these General Terms and Conditions (referred to below as “Services”) in an online mode, strictly subject to the USER's compliance with the requirements specified in these General Terms and Conditions.
</p>

<p>
    2.2. Some of the services on the webpage LINC.UNI-PLOVDIV.BG are available to all USERS without the need for prior registration. These include but are not limited to: accessing and using, adhering to these General Terms and Conditions, various information resources accessible through the LINC.UNI-PLOVDIV.BG webpage, in the “Home”, “About the Journal”, “Authors”, “Code of Conduct”, “Issues”, “Team” sections, accessing the content of individual articles published in various issues of the journal, the terms and conditions, procedures, and technical requirements for submission, review, and publication of texts in the journal, as well as other services available to unregistered USERS through the LINC.UNI-PLOVDIV.BG webpage.
</p>

<p>
    2.3. Accessing certain Services on the LINC.UNI-PLOVDIV.BG webpage is only possible after prior registration, the creation of a User account by the USER, and entering an email address and password. These include but are not limited to:  the ability to submit articles and other materials for publication in the journal, as well as other services available to registered USERS through the LINC.UNI-PLOVDIV.BG webpage.
</p>

<p>
    2.4. The parties hereby agree that entering an email address in its entirety and a password for accessing the User Account, respectively filling the details of Unregistered Users for the purposes of using the services of the website LINC.UNI-PLOVDIV.BG, represents a way to uniquely identify the user as the sender of electronic statements through the website LINC.UNI-PLOVDIV.BG. The parties agree that electronically received statements in this manner shall be considered as signed with a simple electronic signature having the same legal force as a handwritten signature in relations between the parties in accordance with Regulation (EU) No. 910/2014 on electronic identification and trust services for electronic transactions in the internal market.
</p>

<h2>ІІІ. SCOPE OF APPLICATION. CONSENT WITH THE GENERAL TERMS AND CONDITIONS</h2>

<p>
    3.1. These General Terms and Conditions apply to the relationship with USERS who completed their registration on the webpage LINC.UNI-PLOVDIV.BG (“Registered USERS”), as well as to the relationship with USERS who have not completed their registration on the webpage LINC.UNI-PLOVDIV.BG (“unregistered USERS”), with the rights of the latter limited to using the services described in section 2.2. above.
</p>

<p>
    3.2. The text of these General Terms and Conditions is available on the internet at the web address http://linc.uni-plovdiv.bg in a manner permitting its storage and reproduction. An electronic hyperlink to the webpage containing the text of these General Terms and Conditions is located on every page of the website LINC.UNI-PLOVDIV.BG. With each use of the informational services and resources of the website LINC.UNI-PLOVDIV.BG, as well as by clicking on an electronic link from the homepage or any other page of the website LINC.UNI-PLOVDIV.BG, USERS declare that they have read and accepted these General Terms and Conditions, and undertake to adhere to them.
</p>

<p>
    3.3. In order to have access to the services under section 2.3. of these General Terms and Conditions, the USER must first register by completing the corresponding electronic registration form, available in real time (online) on the webpage <a href="https://linc.uni-plovdiv.bg/identity/account/register">https://linc.uni-plovdiv.bg/identity/account/register</a>.
</p>

<p>
    3.3.1. During registration, by checking the box “I have read and accepted the Privacy Policy and the General Terms and Conditions of the webpage” and by clicking the virtual button “Register”, the USER, or respectively the USER’s parent or legal guardian, makes an express electronic statement as defined in the Electronic Documents and Electronic Trust Services Act, whereby they declare that they have read, accepted, and agreed to these General Terms and Conditions, and undertake to adhere to them.
</p>

<p>
    3.3.2. By registering the USER gains access to all services available on the webpage LINC.UNI-PLOVDIV.BG. When completing the registration form, the USER is required to provide complete and accurate information relating to their identity and any other data required by the electronic form, and to update this information within 7 days from any change. The USER or their parent or legal guardian shall ensure that the data provided during registration are true, complete, and accurate, and will promptly update this information in the event of any changes.
</p>

<p>
    3.3.3. Failure to provide the required personal data in the registration form gives Plovdiv University the right to refuse registration.
</p>

<p>
    3.3.4. In case of providing false data or failing to report changes within the designated time-frame, Plovdiv University shall have the right to terminate or suspend, immediately and without notice, both the provision of the Services and the USER’s registration. In this case, the suspension of the Services shall be deemed automatic termination of the agreement.
</p>

<h2>IV. USER ACCOUNT</h2>

<p>
    4.1. During registration the USER provides an email address and password. A single email address may not be used for the registration of more than one USER. Using the selected email address and password, the USER gains access to their User account, as well as access to the services under section 2.3 above.
</p>

<p>
    4.2. The email address is an electronic mail address chosen by the USER through which they are identified when using the Services as described in section 2.3 above. Plovdiv University does not verify and its not responsible for whether the specified email address belongs to the USER, whether it infringes on the rights of third parties, including but not limited to the right to a name or other personal rights, the right to a trade name (company), the right to a registered trademark, or other intellectual property rights.
</p>

<p>
    4.3. A password is a code consisting of letters, digits, and symbols, which, together with the email address, serves for access to a specific user account.
</p>

<p>
    4.4. The USER undertakes not to disclose their password to third parties and to immediately notify Plovdiv University in the event of unauthorized access, as well as in the case of a probability thereof. The USER must take all necessary precautions and measures, reasonably required, to safeguard their password, and is fully responsible for all actions performed by themselves or by a third party through its use.
</p>

<p>
    4.5. The User account represents a distinct section of the webpage LINC.UNI-PLOVDIV.BG, which contains information about the registered USER, provided during the registration process and stored on the server of Plovdiv University. By using their account, the USER can access various services as defined in section 2.3 above, update the data provided during registration, reset their password, delete their registration on the webpage LINC.UNI-PLOVDIV.BG, etc.
</p>
<p>
    4.6. Each USER can have only one active user account. Registration under another person's name (under a false identity) is prohibited. Plovdiv University reserves the right to refuse registration to individuals who are reported to have provided false or another person’s data.
</p>

<h2>V. CONCLUSION OF THE AGREEMENT</h2>

<p>
    5.1. The agreement between the parties takes effect from the moment of reaching an agreement, as manifested in the manner specified in section 3.2 or section 3.3.1 above.
</p>

<p>
    5.2. The agreement shall be concluded in Bulgarian.
</p>

<p>
    5.3. The agreement is valid as follows:
</p>

<p>
    a. for unregistered USERS – until they cease to use the Services under 2.2.;
</p>

<p>
    b. for registered USERS – for an indefinite period from the registration of the USER until the termination of the agreement in accordance with the provisions of these General Terms and Conditions.
</p>

<p>
    5.4. Upon concluding the agreement, the USER makes an explicit electronic statement in accordance with the Electronic Documents and Electronic Trust Services Act, whereby they declare that they have read, accepted, and agreed to the General Terms and Conditions, and undertakes to adhere to them, as well as that they are familiar with the Cookie Policy and the Privacy Policy of the webpage LINC.UNI-PLOVDIV.BG.
</p>

<h2>VІ. CHANGES TO THE GENERAL TERMS AND CONDITIONS  </h2>

<p>
    6.1. In view of the periodic updates and modifications to the Services, their improvement and expansion, as well as in connection with possible legislative changes that may affect them, the General Terms and Conditions may be unilaterally changed by Plovdiv University. Such changes may also occur in the event of a change in the type, nature, or technology of the provided Services, in the event of termination of certain Services, as well as in the event of changes in economic conditions.
</p>

<p>
    6.2. In case of changes to the General Terms and Conditions, Plovdiv University notifies USERS by publishing them on the website LINC.UNI-PLOVDIV.BG. USERS have two weeks to get acquainted with the changes to the General Terms and Conditions, after which they shall enter into force.
</p>
<p>
    6.3. Within the period mentioned in section 6.2 above, USERS have the option to reject the changes by sending a notice to Plovdiv University. In the event that the rejection notice is not received within the specified period, the USER shall be considered bound by the changed General Terms and Conditions. If a registered USER declares that they do not agree with the changes to the General Terms and Conditions, this shall result in the automatic termination of the agreement for using the Services provided through the webpage LINC.UNI-PLOVDIV.BG. In this case, Plovdiv University has the right to immediately suspend the access of the respective USER to their user account, terminate their registration, and delete all User-generated content from its servers.
</p>

<h2>VІІ. RIGHTS AND OBLIGATIONS OF USERS</h2>

<p>
    7.1. The USER supplies on his own all client equipment (terminal devices for access to the internet and the relevant software applications) and the internet access necessary for using the Services provided on the webpage LINC.UNI-PLOVDIV.BG.
</p>

<p>
    7.2. The USER has the right to access the Services provided through the webpage LINC.UNI-PLOVDIV.BG in online mode, adhering to the access conditions and requirements determined by the website LINC.UNI-PLOVDIV.BG.
</p>

<p>
    7.3. The USER agrees that when using the services provided by the webpage LINC.UNI-PLOVDIV.BG, they will not disclose, in any way, User-generated content to third parties – information, data, text, sound, files, software, music, video, photos, graphics, audio materials, messages, as well as any other materials or electronic references to materials:
</p>

<p>
    a. contradicting Bulgarian legislation, applicable foreign laws, these General Terms and Conditions, internet ethics, moral rules and good manners;
</p>

<p>
    b. containing violence (including animal cruelty), incitement to violence, humiliation of human dignity, threats to life and bodily integrity;
</p>

<p>
    c. having pornographic or explicit sexual content;
</p>

<p>
    d. containing clearly identifiable bodies of victims from road accidents and other serious incidents;
</p>

<p>
    e. offensive to any religion or containing religious agitation;
</p>

<p>
    f. representing a trade or professional secret or other confidential information;
</p>

<p>
    g. which are subject to intellectual property rights of third parties, except with the consent of the rights holder;
</p>

<p>
    h. infringing upon any property or non-property rights or legitimate interests of third parties;
</p>

<p>
    i. propagating discrimination based on gender, race, ethnicity, educational background, age, and religion or advocating fascist, racist, or other undemocratic ideologies;
</p>

<p>
    j. defaming the reputation of others and calling for violent change of the constitutionally established order, commission of a crime, violence against individuals, or incitement to racial, national, ethnic, or religious hatred;
</p>

<p>
    k. containing information encouraging or facilitating the commission of terrorist or other criminal activities;
</p>

<p>
    l. containing information about third-party passwords or access rights without the consent of their holder, as well as software for accessing such passwords or rights;
</p>

<p>
    7.4. When using the services provided by the website LINC.UNI-PLOVDIV.BG, the USER undertakes:
</p>

<p>
    a. not to perform malicious activity as defined in section 1.5 of these General Terms and Conditions;
</p>

<p>
    b. to immediately notify Plovdiv University of any instance of committed or established violation while using the provided Services;
</p>

<p>
    c. not to impersonate another person or a representative of a legal entity or a group of individuals whom they are not authorized to represent, or in any other way deceive third parties regarding their identity or affiliation with a particular group of people;
</p>

<p>
    d. not to use any method leading to the forced loading of unwanted content by internet users (such as pop-ups, blind links, and similar methods).
</p>

<p>
    7.5. The USER has the right, at any time and at their own discretion, to terminate the use of the services provided through the webpage LINC.UNI-PLOVDIV.BG by deactivating them from the User’s account or another webpage specified for this purpose, or by cancelling their registration on the webpage LINC.UNI-PLOVDIV.BG, and, consequently, discontinuing the use of the Services under section 2.2. From the moment of cancelling the registration, and for unregistered USERS – the moment of discontinuing the use of the services under section 2.2., the agreement between the parties shall be deemed automatically terminated. Consequently, Plovdiv University shall disable the access of the respective USER to their User account. The deactivation of the provision of certain Services does not lead to the termination of the agreement.
</p>

<p>
    7.6. The USER may access and use any content published on the webpage LINC.UNI-PLOVDIV.BG, including User content, solely for personal, non-commercial use, while complying with the requirements of these General Terms and Conditions.
</p>

<p>
    7.7. The USER undertakes not to access or attempt to gain unauthorized access to the Services provided through the webpage LINC.UNI-PLOVDIV.BG by intercepting other people’s passwords or by any other methods, not to circumvent, damage, or otherwise disrupt the normal operation of technical or software applications on the webpage LINC.UNI-PLOVDIV.BG, which prevent or restrict access to others' email accounts, administrative panels, computer systems, and networks associated with the services provided.
</p>

<h2>VIII. RIGHTS AND OBLIGATIONS OF PLOVDIV UNIVERSITY</h2>

<p>
    8.1. Plovdiv University undertakes to exercise due diligence to ensure the USER’s normal use of the Services.
</p>

<p>
    8.2. Plovdiv University is not responsible for the opinions expressed by users. All users have the right to use the services on the website solely for personal/non-commercial purposes. When submitting an opinion/comment, USERS agree to comply with these General Terms and Conditions. Plovdiv University is not responsible for the opinions expressed by users.
</p>

<p>
    8.3. If a USER does not use their account for 60 days after registration or if 120 days have elapsed since its last use, Plovdiv University has the right to terminate this USER’s access to their User account and cancel their registration without prior notice. From the moment of cancelling the registration, the agreement with USER is deemed automatically terminated.
</p>

<p>
    8.4. Plovdiv University has the right to place on the website LINC.UNI-PLOVDIV.BG, including in User profiles, electronic hyperlinks, advertising banners, and other advertising forms for goods and services offered by Plovdiv University or third parties, as well as electronic hyperlinks and advertising banners pointing to webpages located outside the control of Plovdiv University. Plovdiv University is not responsible for the content, accuracy, and legality of such websites or resources, as well as for services or resources that have become available to the USER when using the services of the website LINC.UNI-PLOVDIV.BG.
</p>

<p>
    8.5. Plovdiv University reserves the right, at its own discretion and without prior notice, to suspend or temporarily restrict the access of a USER to the Services under section 2.3 above, when, at Plovdiv University’s own discretion or based on information received from third parties, the USER uses the Services in violation of the Bulgarian legislation, these General Terms and Conditions, good morals or other applicable norms.
</p>

<p>
    8.6. Plovdiv University reserves the right to temporarily or permanently suspend the provision of specific Services available through the website LINC.UNI-PLOVDIV.BG, by notifying the USER through a message on the respective web pages or in their User account.
</p>

<h2>IХ. INTELLECTUAL PROPERTY</h2>

<p>
    9.1. By submitting written and/or electronic materials for publication in the electronic journal maintained on the website LINC.UNI-PLOVDIV.BG, or any other content, the USER grants Plovdiv University the non-exclusive right to use, record, store, and publicly distribute them on the internet, including providing access to an unlimited number of individuals, allowing access to be carried out from a location and time individually chosen by each of them, without owing compensation for it and without territorial restrictions (worldwide). This right is granted for the period during which the respective content is hosted on a server of Plovdiv University, as well as for a reasonable period following its removal or deletion.
</p>

<p>
    9.2. In the event that the materials provided by the USER for publication or other content include objects of intellectual property, the USER declares that they are the holder of the respective intellectual property rights thereto or have the right to use the respective materials in the manner specified in these General Terms and Conditions, including the right to sublicense the use of the respective materials, having acquired this right legally, contractually, or by other legal means, and that the placement of this content on the website LINC.UNI-PLOVDIV.BG and its use in accordance with these General Terms and Conditions does not infringe intellectual property rights, personal rights, or other rights of third parties.
</p>

<p>
    9.3. When using the Services subject to these General Terms and Conditions, the USER gains access to a variety of content and resources that are subject to copyright or other intellectual property rights of Plovdiv University, other USERS, or the respective specified individuals. The USER has access to content for personal use in accordance with these General Terms and Conditions and has no right to use, record, store, reproduce, modify, adapt, or publicly distribute objects of intellectual property that have become available to them when using the Services, unless it concerns insignificant in volume information intended for personal use, provided that it does not unduly impair the legitimate interests of the authors or other holders of intellectual property rights, in cases where copying or reproduction is carried out for non-commercial purposes, and in cases where the respective content is provided by them or they have obtained the explicit consent of the relevant rights holders. Notwithstanding the above, the USER has no right to remove trademarks and indications of ownership of other intellectual property rights from the materials available to them, whether the holder of the respective rights is Plovdiv University or another USER.
</p>

<p>
    9.4. The USER is solely responsible for the legality of the User content they publish or make available by using the services on the webpage LINC.UNI-PLOVDIV.BG, as well as for their actions relating to its publication and the consequences thereof.
</p>

<p>
    9.5. The intellectual property rights over all objects of intellectual property – materials, databases, and other resources, located on the webpage LINC.UNI-PLOVDIV.BG, are subject to protection under the Copyright and Related Rights Act and/or the Trademarks and Geographical Indications Act, belong to Plovdiv University or the respective indicated person who has transferred the right of use to Plovdiv University, and may not be used in violation of the applicable legislation.
</p>

<p>
    9.6. If a USER believes their intellectual property rights have been infringed by another USER, they should notify Plovdiv University in writing at the address specified in the General Terms and Conditions or by email sent to the email address specified on the webpage LINC.UNI-PLOVDIV.BG. The notification should include precise identification of the material claimed to be published in violation of intellectual property rights, specification of the person or persons whose intellectual property rights have been infringed, the basis on which these individuals have become holders of the respective rights, as well as contact address and phone number of the USER.
</p>

<p>
    9.7. By accepting these General Terms and Conditions and for the purpose of publishing by the USER of articles and other materials and content in the electronic journal by the USER, the USER explicitly declares that the materials submitted for publication are the result of their personal creative activity and that they have, in good faith, indicated all sources used therein, as well as that that they have complied with copyright requirements regarding the use of sources, and that no unlawfully appropriated texts or other copyrighted works have been used without indicating their author and source. In the event that a violation of an obligation under this section be established, Plovdiv University reserves the right to remove, without prior notice, the materials published on the webpage LINC.UNI-PLOVDIV.BG. Furthermore, upon receiving a notification from a third party regarding a breach of the USER's obligations under this provision, Plovdiv University reserves the right to temporarily and without prior notice remove the published materials until the matter is finally resolved.
</p>

<p>
    9.8. Plovdiv University can store in log files on its server the USER's IP address, as well as any other necessary information required for the identification of the USER and reproduction of their electronic acceptance statement of these General Terms and Conditions, as well as for making other electronic statements in case of a legal dispute.
</p>

<h2>X. LIABILITY. LIMITATION OF LIABILITY </h2>

<p>
    10.1. Plovdiv University shall exercise due diligence to ensure the USER’s normal use of the Services. However, since the provision of the services is for free, Plovdiv University is under no obligation and does not guarantee that the Services will meet the USER’s requirements, nor that they will be uninterrupted, prompt or secure. By accepting these General Terms and Conditions, the USER declares that the use of the provided Services will be entirely at the USER’s own risk and responsibilities, and the parties agree that Plovdiv University shall not be liable for any possible damages suffered by the USER while using the provided Services, unless such damages been intentionally caused by Plovdiv University or result from gross negligence.
</p>

<p>
    10.2. Plovdiv University is bears no liability for the USER’s purposes and activity in connection with the use of the Services. Plovdiv University bears no liability for damages incurred by other USERS in accessing or using the content provided by the USER or made available to them through the webpage LINC.UNI-PLOVDIV.BG.
</p>

<p>
    10.3. Plovdiv University bears no liability for the availability and quality of goods and the content of services brought to the attention of the USER through publications on the webpage LINC.UNI-PLOVDIV.BG via electronic links, advertising banners, and messages for the sale of goods and provision of services by third parties. Insofar as the actions of third parties are outside the control of Plovdiv University, it bears no liability for any unlawful actions of third parties or for the emergence, guaranteeing, execution, modification, and termination of obligations and commitments undertaken in connection with the goods and services offered by third parties. It also does not assume liability for damages and lost profits resulting from these relationships.
</p>

<p>
    10.4. Plovdiv University shall not be liable for failure to provide the Services in the event of circumstances beyond its control – in cases of force majeure, unforeseeable events, disruptions in the global internet network and in the provision of services beyond the control of Plovdiv University, problems attributable to the USER's equipment, as well as in the event of unauthorized access or intervention by third parties in the operation of the information system or servers of Plovdiv University
</p>

<p>
    10.5. Plovdiv University shall not be liable for any damages to the software, hardware, or facilities of the USER, or for the loss of data resulting from materials or resources, browsed, loaded, or used in any way through the Services provided.
</p>

<p>
    10.6. Plovdiv University shall not be liable to the USER and third parties for damages and missed benefits resulting from the termination, suspension, modification, or restriction of the provision of any of the Services, deletion, return, non-receipt, modification, loss, unreliability, inaccuracy, or incompleteness of messages, materials, or information used, recorded, or made available through the website LINC.UNI-PLOVDIV.BG.
</p>

<p>
    10.7. The parties agree that Plovdiv University shall not be liable for failure to provide the Services or providing poor quality as a result of tests carried out by Plovdiv University for the purpose of checking equipment, connections, networks, and others, as well as tests aimed at improving or optimizing the provided Services. In such cases, Plovdiv University shall inform the USER in advance of the potential temporary disruption or, respectively, diminished quality of the Services.
</p>

<p>
    10.8. By accepting these General Terms and Conditions, the USER declares that they understand the possibility of potential interruptions and other issues in accessing the internet connection to the webpage LINC.UNI-PLOVDIV.BG, which may occur regardless of the care provided by Plovdiv University. The USER declares that they shall not claim any compensation from Plovdiv University for missed benefits, damages, or inconveniences resulting from the aforementioned interruptions or issues in internet connectivity, including with regard to the capacity of this connection.
</p>

<p>
    10.9. Plovdiv University shall not be held liable or obligated to compensate any individual whose personal data has been unlawfully utilized by another party for the registration and use of the Services provided by the website LINC.UNI-PLOVDIV.BG, regardless of whether the individual – the data subject – has given consent for such use or not. Preserving their personal data is a primary obligation of data subjects.
</p>

<h2>ХІ. RIGHTS OF PLOVDIV UNIVERSITY IN CASE OF NON-COMPLIANCE WITH USER OBLIGATIONS </h2>

<p>
    11.1. Plovdiv University has the right to discontinue, restrict, or modify the Services provided to the USER, as well as to notify the competent state authorities in the event that Plovdiv University deems that the USER’s behaviour violates any provisions of the current Bulgarian legislation, of these General Terms and Conditions, or the rights and legitimate interests of third parties. Furthermore, Plovdiv University reserves the right, at any time and without prior notice, to restrict the access to any content posted on the webpage LINC.UNI-PLOVDIV.BG by the USER, if Plovdiv University determines or be informed by a third party, that such content contradicts the applicable Bulgarian legislation, these General Terms, or their or others' rights and legitimate interests, including intellectual property rights, until such dispute is resolved by an act of a competent state authority.
</p>

<p>
    11.2. Upon receiving an order from competent state authorities concerning User content, Plovdiv University reserves the right, without prior notice, to restrict the access to such User content or to take other actions in accordance with the received order.
</p>

<p>
    11.3. Plovdiv University reserves the right, without prior notice, to deactivate the login password for the USER’s user account if Plovdiv University deems that the USER is violating provisions of the current Bulgarian legislation, these General Terms and Conditions, or the rights and legitimate interests of third parties. In such cases, Plovdiv University reserves the right to cancel the USER’s registration and to discontinue the provision of the Services under section 2.3 to the USER. The USER Agreement shall be deemed automatically terminated from the date of suspending the USER’s registration.
</p>

<p>
    11.4. Upon receiving information giving sufficient grounds to suspect that the USER’s behaviour in using the Services on the webpage LINC.UNI-PLOVDIV.BG may constitute a crime or an administrative offence, Plovdiv University reserves the right, at its own discretion, to notify the competent state authorities, providing the necessary cooperation and all legally required information and materials to the relevant authority, which the authority consider to be beneficial for identifying the perpetrator and proving the committed crime or administrative offence.
</p>

<p>
    11.5. In the above cases, Plovdiv University shall not be liable for any damages and missed benefits suffered by the USER or third parties resulting from the suspension, modification, or limitation of the Services, termination of the agreement, discontinuing the provision of information, or execution of the orders of competent state authorities.
</p>

<h2>ХІІ. COMPENSATIONS</h2>

<p>
    12.1. The USER undertakes to compensate Plovdiv University and all third parties for any damages and missed benefits suffered by them, including paid pecuniary sanctions, legal fees, and other expenses, resulting from claims made by and/or compensations paid to third parties in connection with materials that the USER has disclosed to third parties or has made available through the use of the Services provided on the webpage LINC.UNI-PLOVDIV.BG in violation of Bulgarian legislation, applicable foreign laws, these General Terms and Conditions, or good morals, as well as in connection with other breaches of its obligations under these General Terms and Conditions.
</p>

<p>
    12.2. Outside of the above, the USER undertakes to compensate Plovdiv University for any damages resulting from the use of the provided service by third parties, to whom the USER provided their password in violation with these General Terms and Conditions.
</p>

<p>
    12.3. Parents exercising parental rights, guardians, or custodians of a minor are responsible for all damages caused by the minor to Plovdiv University and third parties during the registration and use of the Services subject to these General Terms and Conditions, as well as for all damages resulting from providing incorrect data.
</p>

<p>
    12.4. The obligations of the Parties under this section 12 shall remain effective even after termination of the agreement.
</p>

<h2>ХІІ. PERSONAL DATA PROTECTION</h2>

<p>
    13.1. Plovdiv University exercises due care in collecting, processing, and storing personal data of USERS in strict compliance with the provisions of the Personal Data Protection Act, Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (hereinafter referred to as General Data Protection Regulation), our <a asp-controller="Home" asp-action="Privacy">Cookie Policy and Privacy Policy</a> and the relevant Bulgarian and European laws.
</p>

<p>
    13.2. The USERS confirm that they have been informed about the identification of Plovdiv University as the data controller, the categories of personal data processed, the grounds, location, purposes, time frames, and means of processing their personal data, as well as their rights under Articles 15-22 of the General Data Protection Regulation and the methods for exercising them.
</p>

<p>
    13.3. Every registered USER, using their email and password, has the right to online access to their user account, where they may amend and update their personal data, stored by Plovdiv University.
</p>

<h2>ХІV. TERMINATION AND ANNULMENT OF THE AGREEMENT</h2>

<p>
    14.1. Apart from the cases provided for in these General Terms and Conditions, the agreement between the parties shall also be terminated in the presence of any of the following circumstances:
</p>

<ul>
    <li>a) discontinuing the webpage LINC.UNI-PLOVDIV.BG;</li>
    <li>b) by mutual agreement of the parties;</li>
    <li>c) in other cases provided by the law.</li>
</ul>

<p>
    14.2. In the event of termination of the agreement between the parties on any grounds, Plovdiv University reserves the right to immediately restrict the respective USER’s access to their user account, as well as to suspend their registration. In the event of termination of the Agreement, Plovdiv University shall not be liable for any damages and missed benefits suffered by the USER or third parties, resulting from the restriction of the USER's access to their user account and suspension of their registration, as well as from the provision of information or execution of orders by competent state authorities.
</p>

<h2>ХV. OTHER PROVISIONS </h2>

<p>
    15.1. Statements and communications provided for in the agreement and these General Terms and Conditions, whether in writing or electronic, are considered valid if made in the form of a letter with acknowledgement of receipt, email, clicking on a virtual button on the webpage LINC.UNI-PLOVDIV.BG, and similar means, provided that the statement is technically recorded in a manner that allows for reproduction.
</p>

<p>
    15.2. By accepting these General Terms and Conditions and entering into an agreement with each other, the parties agree to consider the electronic statements exchanged between them as received upon their entry into the information system designated by the addressee, without the need for explicit confirmation.
</p>

<p>
    15.3. The parties agree that if any clause in these General Terms and Conditions is found to be invalid, it shall not invalidate the agreement, other clauses or parts thereof. An invalid clause shall be replaced by the imperative norms of the law or established case law.
</p>

<p>
    15.4. The webpage LINC.UNI-PLOVDIV.BG is supported by Plovdiv University through technical equipment located within the Republic of Bulgaria. Plovdiv University does not guarantee and is not responsible for the accessibility and proper provision of the Services on the Internet page LINC.UNI-PLOVDIV.BG outside the territory of the Republic of Bulgaria. In the event that the USER uses the Services subject of these General Terms and Conditions outside the Republic of Bulgaria, the USER shall be solely liable to ensure compliance with the applicable legislation according to the location of use of the Services.
</p>

<p>
    15.5. For all matters not settled by this agreement, the provisions of the current laws of the Republic of Bulgaria shall apply.
</p>

<p>
    15.6. All disputes between the parties shall be resolved amicably and in good faith. If agreement has not been reached, all unresolved disputes arising out of or relating to the agreement between the parties, including disputes arising out of or relating to its interpretation, invalidity, fulfilment or termination, as well as disputes relating to filling gaps in the agreement or modifying it according to new circumstances, shall be resolved by the competent court according to the current Bulgarian legislation.
</p>

<p>
    Plovdiv <br />
    15.04.2024
</p>


@section Newsletter {
    <partial name="Newsletter/_Empty" />
}
