@using linc.Utility
@{
    ViewData["Title"] = HtmlLocalizer["HomeTerms_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>@HtmlLocalizer["NavItem_Terms"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<h1 class="text-center">ОБЩИ УСЛОВИЯ ЗА ПОЛЗВАНЕ НА ИНТЕРНЕТ СТРАНИЦАТА LINC.UNI-PLOVDIV.BG</h1>

<p>
    Настоящият документ съдържа Общите условия на договора за ползване на предоставяните от Филологическия факултет на Пловдивския университет „Паисий Хилендарски“ информационни услуги и ресурси посредством интернет страницата LINC.UNI-PLOVDIV.BG (наричани навсякъде по-долу „Общите условия”) и урежда договорните отношения между Пловдивски университет „Паисий Хилендарски“ и всеки един от потребителите при използването за лични и нетърговски ценли на достъпните през интернет страницата LINC.UNI-PLOVDIV.BG информационни услуги и ресурси.
</p>

<p>
    Чрез достъпа до (зареждането на) интернет страницата, Вие се съгласявате да бъдете обвързан от настоящите Общи условия и всички последващи промени в тях, както и се задължавате да ги спазвате. В случай, че не сте съгласни с всички общи условия по-долу, моля, не използвайте интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<h2>І. ДЕФИНИЦИИ</h2>

<p>При тълкуването и прилагането на настоящите Общи условия използваните термини и изрази ще имат следното значение:</p>

<ul>
    <li>„IP адрес“ („IP address“) е уникален идентификационен номер, асоцииращ устройство, интернет страница или ресурс на потребителя, по начин, който позволява локализирането му в глобалната интернет мрежа.</li>
    <li>Пловдивски университет „Паисий Хилендарски“ (наричан навсякъде по-долу „Пловдивския университет“) е държавно висше училищеучлище по смисъла на Закона за висшето образование, с БУЛСТАТ 000455457, с адрес: гр. Пловдив 4000, ул. Цар Асен № 24, което предоставя услугите, предмет на настоящите Общи условия, посредством администрираният от него портал: http:// LINC.UNI-PLOVDIV.BG. </li>
    <li>LINC.UNI-PLOVDIV.BG (наричан също „Интернет страницата LINC.UNI-PLOVDIV.BG“ или „Интернет страницата“) е интернет страница – виртуален информационен и научен ресурс, посредством който на ПОТРЕБИТЕЛИТЕ се предоставят информационни и научни услуги и ресурси, описани в настоящите Общи условия.</li>
    <li>„Електронна препратка“ е връзка, обозначена в определена интернет страница, която позволява автоматизирано препращане към друга интернет страница, информационен ресурс или обект чрез стандартизирани протоколи.</li>
    <li>„Злоумишлени действия“ са действия или бездействия, нарушаващи интернет етиката или нанасящи вреди на лица, свързани към интернет или асоциирани мрежи, включително, но не само изпращане на нежелана поща (SPAM, JUNK MAIL), препълване на каналите (FLOOD), получаване на достъп до ресурси с чужди права и пароли, използване на недостатъци в системите с цел собствена облага или добиване на информация (HACK), извършване на действия, които могат да бъдат квалифицирани като промишлен шпионаж или саботаж, повреждане или разрушаване на системи или информационни масиви (CRACK), изпращане на „троянски коне“ или предизвикване на инсталация на вируси или системи за отдалечен контрол, смущаване нормалната работа на останалите потребители на интернет и асоциираните мрежи, както и извършване на каквито и да било действия, които могат да се квалифицират като престъпление или административно нарушение съгласно българското законодателство или по друго приложимо право.</li>
    <li>„Информационна система“ е устройство или система от свързани устройства, което или някое от които е предназначено да съхранява, изпраща или получава електронни документи.</li>
    <li>„ПОТРЕБИТЕЛ“ е всяко лице, което ползва които и да е от предоставяните през интернет страницата LINC.UNI-PLOVDIV.BG информационни и научни услуги и ресурси. </li>
    <li>„Потребителски профил” е обособена част в LINC.UNI-PLOVDIV.BG, съдържаща информация за потребителя, предоставена от него при регистрацията му и съхранявана от Пловдивския университет, като достъпът до потребителския профил се осъществява чрез въвеждане на имейл адрес и парола. Профилът дава възможност на потребителя да разглежда и редактира данните, въведени при регистрацията, да променя паролата си за достъп и др. </li>
    <li>„Имейл адрес” („Email address”) е избран от потребителя адрес на електронна поща, посредством койито той достъпва потребителския си профил и се индивидуализира в LINC.UNI-PLOVDIV.BG.</li>
    <li>„Парола” е избран от потребителя код от букви и/или цифри, който заедно с избрания имейл адрес индивидуализира същия и му позволява достъп до потребителския му профил.</li>
    <li>„Сървър“ е устройство или система от свързани устройства, на което или на някое от които е инсталиран системен софтуер за изпълняване на задачи във връзка със съхраняване, обработка, приемане или предаване на информация.</li>
    <li>„Интернет страница“ е обособеното място в глобалната интернет мрежа, достъпно чрез своя унифициран адрес (URL) по протокол HTTP или HTTPS и съдържащо файлове, програми, текст, звук, картина, изображение, електронни препратки или други материали и ресурси.</li>
    <li>„Случайно събитие” е непредвидено към момента на сключването на договора обстоятелство от извънреден характер, което прави изпълнението му обективно невъзможно. </li>
    <li>„Търговски съобщения” са рекламни или други съобщения, представящи пряко или косвено стоките, услугите или репутацията на лице, извършващо търговска или занаятчийска дейност или упражняващо регулирана професия. </li>
</ul>

<h2>ІI. ПРЕДМЕТ НА ДОГОВОРА </h2>

<p>
    2.1. Пловдивският университет чрез интернет страницата LINC.UNI-PLOVDIV.BG предоставя в режим on-line на ПОТРЕБИТЕЛЯ предвидените в тези Общи условия услуги (наричани по-долу само „Услугите”), при стриктно спазване от страна на ПОТРЕБИТЕЛЯ на определените в тези Общи условия изисквания.
</p>

<p>
    2.2. Част от Услугите на интернет страницата LINC.UNI-PLOVDIV.BG се предоставят на всички ПОТРЕБИТЕЛИ, без да е необходима предварителна регистрация. Такива са, без да се ограничават до: достъп до и използване, при спазване правилата на настоящите Общи условия, на разнообразни информационни ресурси, достъпни посредством интернет страницата LINC.UNI-PLOVDIV.BG в секции „Начало“, „За списанието“, „Автори“, „Етичен кодекс“, „Броеве“, „Екип“, достъп до съдържанието на отделните статии, публикувани в различни броеве на списанието, условията, процедурите и техническите изисквания за приемане, рецензиране и публикуване на текст в списанието, както и други услуги, предоставяни на нерегистрирани ПОТРЕБИТЕЛИ чрез интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<p>
    2.3. Използването на част от Услугите на интернет страницата LINC.UNI-PLOVDIV.BG е възможно само след предварителна регистрация, създаване на Потребителски профил на ПОТРЕБИТЕЛЯ и въвеждане на имейл адрес и парола. Такива са, без да се ограничават до: възможността да се изпращат статии и други материали за публикуване в списанието, както и други услуги, предоставяни на регистрирани ПОТРЕБИТЕЛИ чрез интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<p>
    2.4. Страните се съгласяват, че въвеждането на електронен пощенски адрес в неговата цялост и парола при достъп до Потребителския профил, респективно попълване на данните на Нерегистрираните потребители за целите на ползване на услугите на интернет страницата LINC.UNI-PLOVDIV.BG представлява способ за уникално идентифициране на потребителя като автор на изпращането на електронни изявления посредством интернет страницата LINC.UNI-PLOVDIV.BG. Страните се съгласяват, че получените по този ред електронни изявления се считат за подписани с обикновен електронен подпис със силата на саморъчен подпис в отношенията между страните по смисъла на Регламент (ЕС) № 910/2014 г. относно електронната идентификация и удостоверителните услуги при електронни транзакции на вътрешния пазар.
</p>

<h2>ІІІ. ПРИЛОЖНО ПОЛЕ. СЪГЛАСИЕ С ОБЩИТЕ УСЛОВИЯ</h2>

<p>
    3.1. Настоящите Общи условия се прилагат в отношенията с ПОТРЕБИТЕЛИТЕ, извършили регистрация на интернет страницата LINC.UNI-PLOVDIV.BG („регистрираните ПОТРЕБИТЕЛИ”), както и в отношенията с ПОТРЕБИТЕЛИТЕ, които не са извършили регистрация на интернет страницата LINC.UNI-PLOVDIV.BG („нерегистрираните ПОТРЕБИТЕЛИ”), като правата на последните са ограничени до ползване на услугите, описани в т. 2.2 по-горе.
</p>

<p>
    3.2. Текстът на настоящите Общи условия е достъпен в интернет на интернет страница с адрес <a href="http://linc.uni-plovdiv.bg">http://linc.uni-plovdiv.bg</a> по начин, който позволява неговото съхраняване и възпроизвеждане. Електронна препратка към интернет страницата, съдържаща текста на настоящите Общи условия, е разположена на всяка страница от интернет страницата LINC.UNI-PLOVDIV.BG. С всяко ползване на информационните услуги и ресурси на интернет страницата LINC.UNI-PLOVDIV.BG, както и чрез натискане на електронна препратка от заглавната (началната) или която и да е друга страница на интернет страницата LINC.UNI-PLOVDIV.BG, ПОТРЕБИТЕЛИТЕ декларират, че са запознати с настоящите Общи условия, съгласяват се с тях и се задължават да ги спазват.
</p>

<p>
    3.3. За да може да използва услугите по т. 2.3. на настоящите Общи условия, ПОТРЕБИТЕЛЯТ трябва предварително да се регистрира, като попълни съответната електронна форма за регистрация, достъпна в реално време (on-line) в интернет на страницата <a href="https://linc.uni-plovdiv.bg/identity/account/register">https://linc.uni-plovdiv.bg/identity/account/register</a>.
</p>

<p>
    3.3.1. В процеса на регистрация, чрез отбелязване в полето „Прочетох и приемам Политиката за поверителност на сайта и Общите му условия“ и натискане на виртуалния бутон „Регистрация“, ПОТРЕБИТЕЛЯТ, съответно родителят или настойникът на ПОТРЕБИТЕЛЯ, извършва изрично електронно изявление по смисъла на Закона за електронния документ и електронните удостоверителни услуги, с което декларира, че е запознат с настоящите Общи условия, приема ги, съгласява се с тях и се задължава да ги спазва.
</p>

<p>
    3.3.2. С регистрирането си ПОТРЕБИТЕЛЯТ получава достъп до всички предлагани от интернет страницата LINC.UNI-PLOVDIV.BG услуги. При попълване на формата за регистрация ПОТРЕБИТЕЛЯТ е длъжен да предостави пълни и верни данни относно самоличността си и другите изискуеми от електронната форма данни, както и да ги актуализира в 7-дневен срок от всяка тяхна промяна. ПОТРЕБИТЕЛЯТ или неговият родител или настойник, гарантира, че данните, които предоставя в процеса на регистрация, са верни, пълни и точни и при промяна на последните ще ги актуализира своевременно.
</p>

<p>
    3.3.3. При непредоставяне на изискваните в регистрационната форма лични данни, Пловдивският университет има право да откаже регистрацията.
</p>

<p>
    3.3.4. В случай на предоставяне на неверни данни или неотразяване на настъпилите промени в срок, Пловдивският университет има право да прекрати или спре незабавно и без предизвестие предоставянето на Услугите, както и поддържането на регистрацията на ПОТРЕБИТЕЛЯ. В този случай прекратяването на предоставянето на Услугите се счита за автоматично прекратяване на договора.
</p>

<h2>ІV. ПОТРЕБИТЕЛСКИ ПРОФИЛ</h2>

<p>
    4.1. При регистрацията си ПОТРЕБИТЕЛЯТ посочва имейл адрес и парола. Един имейл адрес не може да бъде използван при регистрацията на повече от един ПОТРЕБИТЕЛ. Чрез избраните имейл адрес и парола ПОТРЕБИТЕЛЯТ получава достъп до Потребителския си профил, както и възможност да ползва Услугите по т. 2.3 по-горе.
</p>

<p>
    4.2. Имейл адресът е избран от ПОТРЕБИТЕЛЯ адрес на електронна поща, посредством който той се индивидуализира при ползването на Услугите по т. 2.3 по-горе. Пловдивският университет не проверява и не носи отговорност за това дали посоченият имейл адрес принадлежи на ПОТРЕБИТЕЛЯ, дали той засяга права на трети лица и в частност право на име или други лични права, право на търговско наименование (фирма), право на запазена марка или други права на интелектуална собственост.
</p>

<p>
    4.3. Паролата представлява код от букви, цифри и знаци, който заедно с имейл адреса служи за достъп до определен потребителски профил.
</p>

<p>
    4.4. ПОТРЕБИТЕЛЯТ е длъжен да не прави достояние на трети лица паролата си и да уведомява незабавно Пловдивския университет в случай на неправомерен достъп, както и при вероятност от такъв. ПОТРЕБИТЕЛЯТ е длъжен да полага всички грижи и да предприема необходимите мерки, които разумно се налагат, с цел опазване на паролата си и носи пълна отговорност за всички действия, които се извършват от него или от трето лице чрез използването им.
</p>

<p>
    4.5. Потребителският профил представлява обособена част от интернет страницата LINC.UNI-PLOVDIV.BG, съдържаща информация за регистрирания ПОТРЕБИТЕЛ, предоставена в процеса на регистрация и съхранявана на сървър на Пловдивския университет. Чрез потребителския си профил ПОТРЕБИТЕЛЯТ може да използва различни услуги по т. 2.3 по-горе, да актуализира данните, предоставени при регистрацията си, да променя паролата си, да прекрати регистрацията си в интернет страницата LINC.UNI-PLOVDIV.BG и др.
</p>
<p>
    4.6. Всеки ПОТРЕБИТЕЛ може да има само един активен потребителски профил. Забранява се регистрацията под чуждо име (под чужда самоличност). Пловдивският университет може да откаже регистрацията на лице, за което получи информация, че посочва неверни или чужди данни.
</p>

<h2>V. СКЛЮЧВАНЕ НА ДОГОВОРА </h2>

<p>
    5.1. Договорът между страните поражда действие от момента на постигане на съгласие, обективирано по начина, посочен в т. 3.2 или т. 3.3.1 по-горе.
</p>

<p>
    5.2. Договорът се сключва на български език.
</p>

<p>
    5.3. Договорът има действие:
</p>

<p>
    а) За нерегистрираните ПОТРЕБИТЕЛИ – до преустановяване на ползването на Услугите по т. 2.2.;
</p>

<p>
    б) за регистрираните ПОТРЕБИТЕЛИ – за неопределен срок от регистриране на ПОТРЕБИТЕЛЯ до прекратяването на договора по реда, предвиден в настоящите Общи условия.
</p>

<p>
    5.4. При сключване на договора, ПОТРЕБИТЕЛЯТ извършва изрично електронно волеизявление по смисъла на Закона за електронния документи и електронните удостоверителни услуги, с което декларира, че е запознат с Общите условия, приема ги, съгласява се с тях и се задължава да ги спазва, както и че е запознат с Политиката за бисквитките и политика за поверителност на интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<h2>VІ. ПРОМЕНИ В ОБЩИТЕ УСЛОВИЯ </h2>

<p>
    6.1. С оглед периодичното допълване и модификации на Услугите, тяхното усъвършенстване и разширяване, както и във връзка с възможни законодателни промени, които рефлектират върху тях, Общите условия могат да бъдат променяни едностранно от Пловдивския университет. Тази промяна може да се извършва и при изменение на вида, естеството или технологията на предоставяните Услуги, при прекратяване на предоставянето на определени Услуги, както и при изменение в икономическите условия.
</p>

<p>
    6.2. При извършване на промени в Общите условия, Пловдивският университет ги довежда до знанието на ПОТРЕБИТЕЛИТЕ чрез публикуването им на интернет страницата LINC.UNI-PLOVDIV.BG. ПОТРЕБИТЕЛИТЕ разполагат с двуседмичен срок да се запознаят с промените в Общите условия, след което те влизат в сила.
</p>
<p>
    6.3. В срока по т. 6.2. по-горе ПОТРЕБИТЕЛИТЕ имат възможността да заявят чрез изпращане на съобщение до Пловдивския университет, че отхвърлят промените. В случай, че изявление за отхвърляне на промените не бъде получено в посочения срок, се счита, че ПОТРЕБИТЕЛЯТ е обвързан от тях. Заявяването от страна на регистриран ПОТРЕБИТЕЛ, че не е съгласен с промените в Общите условия, ще води до автоматично прекратяване на договора за ползване на Услугите, предоставяни чрез интернет страницата LINC.UNI-PLOVDIV.BG, при което Пловдивският университет има право да спре незабавно достъпа на съответния ПОТРЕБИТЕЛ до потребителския му профил, да прекрати регистрацията му и да изтрие от сървърите си цялото разположено от него Потребителско съдържание.
</p>

<h2>VІІ. ПРАВА И ЗАДЪЛЖЕНИЯ НА ПОТРЕБИТЕЛЯ</h2>

<p>
    7.1. ПОТРЕБИТЕЛЯТ сам осигурява необходимото му за ползването на предоставяните от интернет страницата LINC.UNI-PLOVDIV.BG Услуги клиентско оборудване (крайни устройства за достъп до интернет и съответни софтуерни приложения) и достъп до интернет.
</p>

<p>
    7.2. ПОТРЕБИТЕЛЯТ има право на достъп в режим on-line до Услугите, предоставяни чрез интернет страницата LINC.UNI-PLOVDIV.BG, при спазване на условията и изискванията за достъп, определени от интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<p>
    7.3. ПОТРЕБИТЕЛЯТ се задължава при ползване на предоставяните от интернет страницата LINC.UNI-PLOVDIV.BG Услуги да не прави достояние по какъвто и да било начин на трети лица Потребителско съдържание – информация, данни, текст, звук, файлове, софтуер, музика, видео, фотографии, графики, аудиоматериали, съобщения, както и всякакви други материали или електронни препратки към материали:
</p>

<p>
    а. противоречащи на българското законодателство, приложимите чужди закони, настоящите Общи условия, интернет етиката, правилата на морала и добрите нрави;
</p>

<p>
    б. съдържащи насилие (включително насилие над животни), агитация към насилие, унижение на човешкото достойнство, заплаха за живота и телесната неприкосновеност на човека;
</p>

<p>
    в. с порнографско или открито сексуално съдържание;
</p>

<p>
    д. съдържащи ясно различими тела на жертви от катастрофи и други тежки инциденти;
</p>

<p>
    е. обиждащи дадена религия или съдържащи религиозна агитация;
</p>

<p>
    ж. представляващи търговска или служебна тайна или друга конфиденциална информация;
</p>

<p>
    з. които са обект на право на интелектуална собственост на трети лица, освен със съгласието на титуляра на правото;
</p>

<p>
    и. нарушаващи каквито и да било имуществени или неимуществени права или законни интереси на трети лица;
</p>

<p>
    й. пропагандиращи дискриминация, основана на пол, раса, етническа принадлежност, образователен ценз, възраст и религия или проповядващи фашистка, расистка или друга недемократична идеология;
</p>

<p>
    к. накърняващи доброто име на другиго и призоваващи към насилствена промяна на конституционно установения ред, към извършване на престъпление, към насилие над личността или към разпалване на расова, национална, етническа или религиозна вражда;
</p>

<p>
    л. съдържащи информация, подтикваща към или улесняваща извършването на терористична или друга престъпна дейност;
</p>

<p>
    м. съдържащи информация за чужди пароли или права за достъп без съгласието на техния титуляр, както и софтуер за достъп до такива пароли или права;
</p>

<p>
    7.4. ПОТРЕБИТЕЛЯТ се задължава при ползване на предоставяните от интернет страницата LINC.UNI-PLOVDIV.BG услуги:
</p>

<p>
    а. да не извършва злоумишлени действия по смисъла на т. 1.5. от настоящите Общи условия;
</p>

<p>
    б. да уведомява незабавно Пловдивския университет за всеки случай на извършено или открито нарушение при използване на предоставяните Услуги;
</p>

<p>
    в. да не се представя за друго лице или за представител на юридическо лице или група хора, които не е оправомощен да представлява, или по друг начин да заблуждава трети лица относно самоличността си или принадлежността си към определена група хора;
</p>

<p>
    д. да не използва методи, водещи до принудително зареждане на нежелано от интернет потребителите съдържание („pop-up“, „blind link“ и други подобни).
</p>

<p>
    7.5. ПОТРЕБИТЕЛЯТ има право по всяко време по своя собствена преценка да прекрати използването на предоставяните от интернет страницата LINC.UNI-PLOVDIV.BG Услуги, като дезактивира предоставянето им от Потребителския си профил или друга посочена за целта интернет страница или прекрати регистрацията си на интернет страницата LINC.UNI-PLOVDIV.BG, съответно преустанови използването на Услугите по т. 2.2. От момента на прекратяване на регистрацията, а за нерегистрираните ПОТРЕБИТЕЛИ – от момента на преустановяване ползването на услугите по т. 2.2., договорът между страните се счита за автоматично прекратен, като Пловдивският университет спира достъпа на съответния ПОТРЕБИТЕЛ до Потребителския му профил. Деактивирането на предоставяне на определени Услуги не води до прекратяване на договора.
</p>

<p>
    7.6. ПОТРЕБИТЕЛЯТ може да осъществява достъп до и да използва каквото и да било съдържание, публикувано на интернет страницата LINC.UNI-PLOVDIV.BG, включително до Потребителско съдържание, единствено за лично ползване с нетърговски цели при спазване изискванията на настоящите Общи условия.
</p>

<p>
    7.7. ПОТРЕБИТЕЛЯТ се задължава да не осъществява и да не се опитва да придобива неоторизиран достъп до предоставяните от интернет страницата LINC.UNI-PLOVDIV.BG Услуги чрез прихващане и използване на чужди пароли или каквито и да било други методи, да не заобикаля, поврежда или по друг начин да не смущава нормалната работа на технически или софтуерни приложения на интернет страницата LINC.UNI-PLOVDIV.BG, които предотвратяват или ограничават достъпа до чужди електронни пощенски кутии, административни панели, компютърни системи и мрежи, свързани с предоставяните услуги.
</p>

<h2>VIII. ПРАВА И ЗАДЪЛЖЕНИЯ НА ПЛОВДИВСКИЯ УНИВЕРСИТЕТ</h2>
    
<p>
    8.1. Пловдивският университет се задължава да полага дължимата грижа за предоставяне на възможност на ПОТРЕБИТЕЛЯ за нормално ползване на Услугите.
</p>
    
<p>
    8.2. Пловдивският университет не носи отговорност за изразените от потребителите мнения. Всички потребители получават правото да използват услугите на сайта единствено за лични/нетърговски цели. При добавяне на мнение/коментар, ПОТРЕБИТЕЛИТЕ се съгласяват да спазват тези Общи условия. Пловдивският университет не носи отговорност за изразените от потребителите мнения.
</p>

<p>
    8.3. В случай на неизползване на Потребителския профил на ПОТРЕБИТЕЛ в продължение на 60 дни след регистрацията или изтекат 120 дни от последното му използване, Пловдивският университет има право да спре без предизвестие достъпа на съответния ПОТРЕБИТЕЛ до Потребителския му профил и да прекрати регистрацията му. От момента на прекратяване на регистрацията договорът с ПОТРЕБИТЕЛЯ се счита за автоматично прекратен.
</p>

<p>
    8.4. Пловдивският университет има правото да поставя на интернет страницата LINC.UNI-PLOVDIV.BG, включително в Потребителските профили, електронни препратки, рекламни банери и други рекламни форми за стоки и услуги, предлагани от Пловдивския университет или от трети лица, както и електронни препратки и рекламни банери, сочещи към интернет страници, намиращи се извън контрола на Пловдивския университет. Пловдивският университет не носи отговорност за съдържанието, верността и законосъобразността на подобни интернет страници или ресурси и на услуги или ресурси, които са станали достояние на ПОТРЕБИТЕЛЯ при ползването услугите на интернет страницата LINC.UNI-PLOVDIV.BG.
</p>
<p>
    8.5. Пловдивският университет има право по своя преценка и без отправяне на предупреждение да спира или да ограничава временно достъпа на ПОТРЕБИТЕЛЯ до Услугите по т. 2.3 по-горе, когато, по преценка на Пловдивския университет или съгласно получена от трети лица информация, ПОТРЕБИТЕЛЯТ ползва Услугите в нарушение на българското законодателство, настоящите Общи условия, добрите нрави или други приложими норми.
</p>

<p>
    8.6. Пловдивският университет си запазва правото временно или трайно да преустановява предоставянето на конкретни Услуги, достъпни чрез интернет страницата LINC.UNI-PLOVDIV.BG, като уведоми за това ПОТРЕБИТЕЛЯ със съобщение на съответните интернет страници или в Потребителския му профил.
</p>

<h2>IХ. ИНТЕЛЕКТУАЛНА СОБСТВЕНОСТ </h2>

<p>
    9.1. С представянето на писмени и/или електронни материали за публикуване в електронното списание, поддържано на интернет страницата LINC.UNI-PLOVDIV.BG, или на каквото и да е друго съдържание, ПОТРЕБИТЕЛЯТ предоставя на Пловдивския университет неизключителното право да ги използва, записва, съхранява, разпространява публично в интернет, включително да предлага достъп на неограничен брой лица до тях по начин, позволяващ този достъп да бъде осъществен от място и по време, индивидуално избрани от всеки от тях, без да дължи възнаграждение за това и без териториални ограничения (за целия свят). Това право се предоставя за времето, през което съответното съдържание е разположено на сървър на Пловдивския университет, както и за разумен срок след премахването или изтриването му.
</p>

<p>
    9.2. В случай, че предоставените от ПОТРЕБИТЕЛЯ материали за публикуване или друго съдържание включват обекти на интелектуална собственост, ПОТРЕБИТЕЛЯТ декларира, че е носител на съответните права на интелектуална собственост върху тях или има правото да използва съответните материали по начина, посочен в настоящите Общи условия, включително правото да преотстъпва ползването на съответните материали, като е придобил това право на законово, договорно или друго правно основание, както и че разполагането на това съдържание на интернет страницата LINC.UNI-PLOVDIV.BG и неговото използване в съответствие с настоящите Общи условия не нарушава права на интелектуална собственост, лични или други права на трети лица.
</p>

<p>
    9.3. При използването на Услугите, предмет на настоящите Общи условия, ПОТРЕБИТЕЛЯТ има достъп до разнообразно съдържание и ресурси, които са обект на авторско право или други права на интелектуална собственост на Пловдивския университет, на други ПОТРЕБИТЕЛИ или на съответно указаните лица. ПОТРЕБИТЕЛЯТ има достъп до съдържанието с оглед ползването му за лични нужди в съответствие с настоящите Общи условия и няма право да използва, записва, съхранява, възпроизвежда, променя, адаптира или разпространява публично обекти на интелектуална собственост, които са му станали достъпни при ползването на Услугите, освен ако се касае за незначителна по обем информация, предназначена за лично ползване, при условие, че не се увреждат неоправдано законните интереси на авторите или други носители на права на интелектуална собственост, в случай, че копирането или възпроизвеждането се извършват с нетърговска цел, както и в случай, че съответното съдържание е предоставено от него или е получил изричното съгласие на съответните правоносители. Независимо от горното ПОТРЕБИТЕЛЯТ няма право да премахва знаците за търговска марка и принадлежност на друго право на интелектуална собственост от достъпните му материали, независимо дали носителят на съответните права е Пловдивският университет или друг ПОТРЕБИТЕЛ.
</p>

<p>
    9.4. ПОТРЕБИТЕЛЯТ е единствено отговорен за законността на Потребителското съдържание, което публикува или прави достъпно чрез ползването на услугите на интернет страницата LINC.UNI-PLOVDIV.BG, както и за действията си по публикуването му и за последствията от това публикуване.
</p>

<p>
    9.5. Правата на интелектуална собственост върху всички обекти на интелектуална собственост – материали, бази данни и други ресурси, разположени на интернет страницата LINC.UNI-PLOVDIV.BG, са обект на закрила съгласно Закона за авторското право и сродните му права и/или Закона за марките и географските означения, принадлежат на Пловдивския университет или на съответно указаното лице, преотстъпило правото на ползване на Пловдивския университет и не могат да бъдат използвани в нарушение на действащото законодателство.
</p>

<p>
    9.6. В случай, че ПОТРЕБИТЕЛЯТ счита, че негови права на интелектуална собственост са нарушени от друг ПОТРЕБИТЕЛ, той следва да уведоми Пловдивския университет в писмена форма на посочения в настоящите Общи условия адрес или чрез писмо, изпратено на адреса на електронна поща, посочен на интернет страницата LINC.UNI-PLOVDIV.BG. Уведомлението следва да съдържа точно идентифициране на материала, за който се твърди, че е публикуван в нарушение на права на интелектуална собственост, посочване на лицето или лицата, чиито права на интелектуална собственост са нарушени и основанието, на което тези лица са станали носители на съответните права, както и адрес и телефон за контакт с ПОТРЕБИТЕЛЯ.
</p>

<p>
    9.7. С приемане на настоящите Общи условия и за целите на публикуване на статии или други материали и съдържание в електронния магазин от страна на ПОТРЕБИТЕЛЯ, последният декларира изрично, че предоставените за публикуване материали са резултат от неговата лична творческа дейност и че добросъвестно е посочил в материалите всички използвани източници, както и че са спазени изискванията на авторското право по отношение на използваните източници и не са използвани неправомерно чужди текстове или други произведения – обекти на авторско право, без да бъде посочен техният автор и източник. В случай, че се установи нарушение на задълженията по тази точка, Пловдивският университет има право без предупреждение да премахва публикуваните материали от интернет страницата LINC.UNI-PLOVDIV.BG. Също така, при получен сигнал от трети лица за нарушение на задълженията на потребителя по тази точка, Пловдивският университет има право временно и без предупреждение да премахне публикуваните материали до окончателното уреждане на въпроса.
</p>

<p>
    9.8. Пловдивският университет може да съхранява в лог-файлове на своя сървър IP адреса на ПОТРЕБИТЕЛЯ, както и всяка друга необходима информация, необходима за идентифициране на ПОТРЕБИТЕЛЯ и възпроизвеждане на електронното му изявление за приемане на тези Общи условия, както и за извършване на други електронни изявления, в случай на възникване на правен спор.
</p>

<h2>Х. ОТГОВОРНОСТ. ОГРАНИЧАВАНЕ НА ОТГОВОРНОСТТА </h2>
<p>
    10.1. Пловдивският университет полага грижи за предоставяне на възможност на ПОТРЕБИТЕЛЯ за нормално ползване на Услугите, но доколкото предоставянето им е безплатно няма задължението и не гарантира, че те ще удовлетворят изискванията на ПОТРЕБИТЕЛЯ, нито че ще бъдат непрекъснати, навременни или сигурни. С приемане на настоящите Общи условия ПОТРЕБИТЕЛЯТ декларира, че използването на предоставяните Услуги ще бъде изцяло на негов риск и отговорност, а страните се съгласяват, че Пловдивският университет не отговаря за евентуално причинени на ПОТРЕБИТЕЛЯ при ползване на предоставяните Услуги вреди, освен ако са причинени от Пловдивския университет умишлено или при проявена груба небрежност.
</p>

<p>
    10.2. Пловдивският университет не носи отговорност за целите и дейността на ПОТРЕБИТЕЛЯ във връзка с използване на Услугите. Пловдивският университет не отговаря за произтеклите за други ПОТРЕБИТЕЛИ вреди при достъпа или използването на съдържание, предоставено от ПОТРЕБИТЕЛЯ или станало достъпно чрез интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<p>
    10.3. Пловдивският университет не носи отговорност за наличността и качеството на стоки и съдържанието на услуги, поставени на вниманието на ПОТРЕБИТЕЛЯ чрез публикуване на интернет страницата LINC.UNI-PLOVDIV.BG на електронни препратки, рекламни банери и съобщения за продажба на стоки и предоставяне на услуги от трети лица. Доколкото действията на тези трети лица не са под контрола на Пловдивския университет, то той не носи отговорност за противоправния характер на дейността на третите лица или за възникването, гарантирането, изпълнението, изменението и прекратяването на поети задължения и ангажименти във връзка с предлаганите от третите лица стоки и услуги, както и не отговаря за претърпени вреди и пропуснати ползи, произтекли от тези отношения.
</p>

<p>
    10.4. Пловдивският университет не носи отговорност за непредоставяне на Услугите при настъпване на обстоятелства извън неговия контрол – в случаи на непреодолима сила, случайни събития, проблеми в глобалната мрежа интернет и в предоставянето на услуги извън контрола на Пловдивския университет, проблеми, дължащи се на оборудването на ПОТРЕБИТЕЛЯ, както и при случай на нерегламентиран достъп или интервенция на трети лица във функционирането на информационната система или сървърите на Пловдивския университет.
</p>

<p>
    10.5. Пловдивският университет не носи отговорност за вреди, причинени на софтуера, хардуера или съоръженията на ПОТРЕБИТЕЛЯ, или за загуба на данни, произтекли от материали или ресурси, търсени, заредени или използвани по какъвто и да било начин посредством предоставяните Услуги.
</p>

<p>
    10.6. Пловдивският университет не носи отговорност спрямо ПОТРЕБИТЕЛЯ и трети лица, за претърпени вреди и пропуснати ползи, настъпили вследствие на прекратяване, спиране, променяне или ограничаване на предоставянето на която и да било от Услугите, изтриването, връщането, неполучаването, модифицирането, загубването, недостоверността, неточността, или непълнотaта на съобщения, материали или информация, използвани, записвани или станали достъпни чрез интернет страницата LINC.UNI-PLOVDIV.BG.
</p>

<p>
    10.7. Страните приемат, че Пловдивският университет не носи отговорност за непредоставянето на Услугите или предоставянето им с влошено качество вследствие на извършвани тестове от страна на Пловдивския университет с цел проверка на оборудване, връзки, мрежи и други, както и тестове, насочени към подобряване или оптимизиране на предоставяните Услуги. В тези случаи Пловдивският университет предварително уведомява ПОТРЕБИТЕЛЯ за възможното временно непредоставяне, съответно за влошеното качество на Услугите.
</p>

<p>
    10.8. С приемането на настоящите Общи условия ПОТРЕБИТЕЛЯТ декларира, че осъзнава възможността за евентуални прекъсвания и друг вид затруднения при осъществяване на интернет връзката до интернет страницата LINC.UNI-PLOVDIV.BG, които могат да възникнат независимо от положената от страна на Пловдивския университет грижа. ПОТРЕБИТЕЛЯТ декларира, че няма да претендира каквито и да било обезщетения от Пловдивския университет за пропуснати ползи, претърпени вреди или неудобства, вследствие настъпването на посочените по-горе прекъсвания или затруднения на интернет връзката, включително и по отношение на капацитета на тази връзка.
</p>

<p>
    10.9. Пловдивският университет не носи отговорност и не дължи обезщетение на лице, чиито лични данни са недобросъвестно използвани от друго лице за заявяването и ползването на Услугите, предоставяни от интернет страницата LINC.UNI-PLOVDIV.BG, независимо дали лицето – субект на данните е дало или не съгласие за това. Опазването на личните им данни е основно задължение на субектите на данните.
</p>

<h2>ХІ. ПРАВА НА ПЛОВДИВСКИЯ УНИВЕРСИТЕТ В СЛУЧАЙ НА НЕИЗПЪЛНЕНИЕ НА ЗАДЪЛЖЕНИЯ НА ПОТРЕБИТЕЛ </h2>

<p>
    11.1. Пловдивският университет има правото да спре, ограничи или промени предоставяните на ПОТРЕБИТЕЛЯ Услуги, както и да сезира компетентните държавни органи, ако с поведението си ПОТРЕБИТЕЛЯТ, по преценка на Пловдивския университет, нарушава разпоредби на действащото българско законодателство, на настоящите Общи условия или правата и законните интереси на трети лица, както и по всяко време и без предварително предупреждение да спре достъпа до всяко съдържание, разположено на интернет страницата LINC.UNI-PLOVDIV.BG от ПОТРЕБИТЕЛЯ, за което прецени или получи сведения от трети лица, че противоречи на действащото българско законодателство, на настоящите Общи условия или на техни или чужди права и законни интереси, включително права на интелектуална собственост, до разрешаването на подобен спор с акт на компетентен държавен орган.
</p>

<p>
    11.2. При получаване на разпореждане от компетентни държавни органи, касаещо Потребителско съдържание, Пловдивският университет има правото без предварително предупреждение да спре достъпа до такова Потребителско съдържание или да извърши други действия, съгласно полученото разпореждане.
</p>

<p>
    11.3. Пловдивският университет има правото без предизвестие да деактивира паролата за достъп до потребителския профил на ПОТРЕБИТЕЛЯ в случай, че по преценка на Пловдивския университет ПОТРЕБИТЕЛЯТ нарушава разпоредби на действащото българско законодателство, на настоящите Общи условия или правата и законните интереси на трети лица. В тези случаи Пловдивският университет има право да прекрати регистрацията на ПОТРЕБИТЕЛЯ и да преустанови предоставянето на ПОТРЕБИТЕЛЯ на Услугите по т. 2.3. Договорът с ПОТРЕБИТЕЛЯ се счита за автоматично прекратен от датата на прекратяване на регистрацията му.
</p>

<p>
    11.4. Когато получи информация, която дава достатъчно основания да се предположи, че поведението на ПОТРЕБИТЕЛЯ при ползването на Услугите на интернет страницата LINC.UNI-PLOVDIV.BG би могло да представлява престъпление или административно нарушение, Пловдивският университет има правото по своя преценка да сезира компетентните държавни органи, като им предоставя необходимото съдействие и цялата необходима информация и материали, изискани по надлежния ред, които по преценка на съответния орган биха помогнали за идентифициране на извършителя и доказване на извършеното престъпление или административно нарушение.
</p>

<p>
    11.5. В горните случаи Пловдивският университет не носи отговорност за претърпени вреди и пропуснати ползи от ПОТРЕБИТЕЛЯ или трети лица, настъпили вследствие на спирането, променянето или ограничаването на Услугите, прекратяването на договора или предоставяне на информация или изпълнение на разпореждания на компетентните държавни органи.
</p>

<h2>ХІІ. ОБЕЗЩЕТЕНИЯ</h2>

<p>
    12.1. ПОТРЕБИТЕЛЯТ е длъжен да обезщети Пловдивския университет и всички трети лица за всички претърпени от тях вреди и пропуснати ползи, включително за платени имуществени санкции, адвокатски възнаграждения и други разходи, вследствие на предявени искове от и/или платени обезщетения на трети лица във връзка с материали, които ПОТРЕБИТЕЛЯТ е направил достояние на трети лица или е направил достъпни чрез ползване на предоставените на интернет страницата LINC.UNI-PLOVDIV.BG Услуги в нарушение на българското законодателство, приложимите чужди закони, настоящите Общи условия или добрите нрави, както и във връзка с други нарушения на задълженията му по настоящите Общи условия.
</p>

<p>
    12.2. Вън от горното, ПОТРЕБИТЕЛЯТ се задължава да обезщети Пловдивския университет за всички вреди, причинени вследствие на ползване на предоставяните Услуги от трети лица, на които последният е предоставил паролата си в нарушение на настоящите Общи условия.
</p>

<p>
    12.3. Родителите, упражняващи родителски права, настойниците или попечителите на ненавършило пълнолетие лице, отговарят за всички вреди, причинени от същото на Пловдивския университет и на трети лица при регистрацията и ползването на Услугите, предмет на настоящите Общи условия, както и за всички вреди вследствие на посочване на неверни данни.
</p>

<p>
    12.4. Задълженията на лицата по настоящата т. 12 продължават действието си и след прекратяване на договора.
</p>

<h2>ХІІI. ЗАЩИТА НА ЛИЧНИТЕ ДАННИ </h2>

<p>
    13.1. Пловдивският университет полага дължимата грижа за събирането, обработването и съхраняването на личните данни на ПОТРЕБИТЕЛИТЕ, при стриктно спазване на разпоредбите на Закона за защита на личните данни, Регламент (ЕС) 2016/679 на Европейския парламент и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни и за отмяна на Директива 95/46/EО (наричан навсякъде по долу „Общ регламент за защита на личните данни“), нашата <a asp-controller="Home" asp-action="Privacy">Политика за бисквитките и политика за поверителност</a> и относимото българско и европейско законодателство.
</p>

<p>
    13.2. ПОТРЕБИТЕЛИТЕ потвърждават, че са информирани относно идентификацията на Пловдивския университет като администратор на лични данни, категориите лични данни, които се обработват, основанията, мястото, целите, сроковете и средствата на обработването на личните им данни, както и за правата им съгласно чл. 15 – 22 от Общия регламент за защита на личните данни и начините за тяхното упражняване.
</p>

<p>
    13.3. Всеки регистриран ПОТРЕБИТЕЛ, чрез своите имейл и парола, има право на достъп в режим on-line до потребителския си профил, където може да поправя и актуализира своите лични данни, съхранявани от Пловдивския университет.
</p>

<h2>ХІV. ПРЕКРАТЯВАНЕ И РАЗВАЛЯНЕ НА ДОГОВОРА</h2>

<p>
    14.1. Освен в случаите, предвидени в настоящите Общи условия, договорът между страните се прекратява и при настъпване на някое от следните обстоятелства:
</p>

<ul>
    <li>а/ прекратяване на поддържането на интернет страницата LINC.UNI-PLOVDIV.BG;</li>
    <li>б/ взаимно съгласие на страните за прекратяването;</li>
    <li>в/ други предвидени в закона случаи.</li>
</ul>

<p>
    14.2. В случай на прекратяване на договора между страните на каквото и да е основание, Пловдивският университет има право да спре незабавно достъпа на съответния ПОТРЕБИТЕЛ до потребителския му профил и да прекрати регистрацията му. В случай на прекратяване на договора Пловдивският университет не носи отговорност за претърпени вреди и пропуснати ползи от ПОТРЕБИТЕЛЯ или трети лица, настъпили вследствие на спирането на достъпа на ПОТРЕБИТЕЛЯ до потребителския му профил и прекратяването на регистрацията му, както и вследствие на предоставянето на информация или изпълнение на разпореждания на компетентните държавни органи.
</p>

<h2>ХV. ДРУГИ УСЛОВИЯ </h2>

<p>
    15.1. Предвидените в договора и настоящите Общи условия писмени или електронни изявления и съобщения се считат за валидно извършени, ако са направени под формата на писмо с обратна разписка, електронна поща, натискане на виртуален бутон в интернет страницата LINC.UNI-PLOVDIV.BG и други подобни, доколкото изявлението е записано технически по начин, който дава възможност да бъде възпроизведено.
</p>

<p>
    15.2. С приемане на настоящите Общи условия и сключване на договор помежду си, страните изразяват съгласието си да считат отправените електронни изявления помежду им за получени с постъпването им в посочената от адресата информационна система, без за това да е необходимо изрично потвърждаване.
</p>
<p>
    15.3. Страните се съгласяват, че в случай, че някоя от клаузите по настоящите Общи условия се окаже недействителна, това няма да влече недействителност на договора, на други клаузи или негови части. Недействителната клауза ще бъде заместена от повелителните норми на закона или установената практика.
</p>

<p>
    15.4. Интернет страницата LINC.UNI-PLOVDIV.BG се поддържа от Пловдивския университет посредством техническо оборудване, разположено на територията на Република България. Пловдивският университет не гарантира и не носи отговорност за достъпността и надлежното предоставяне на Услугите на Интернет страницата LINC.UNI-PLOVDIV.BG извън територията на Република България. В случай, че ПОТРЕБИТЕЛЯТ ползва Услугите, предмет на настоящите Общи условия, извън територията на Република България, ПОТРЕБИТЕЛЯТ е единствено отговорен за спазване на приложимото законодателство съобразно с мястото на ползване на Услугите.
</p>

<p>
    15.5. За всички неуредени от настоящия договор въпроси се прилагат разпоредбите на действащото законодателство на Република България.
</p>

<p>
    15.6. Всички спорове между страните се решават в дух на разбирателство и добра воля. В случай, че съгласие не бъде постигнато, всички неразрешени спорове, породени от договора между страните или отнасящи се до него, включително спорове, породени или отнасящи се до неговото тълкуване, недействителност, изпълнение или прекратяване, както и спорове за попълване на празноти в договора или приспособяването му към нововъзникнали обстоятелства, ще бъдат разрешавани от компетентния по действащото българско законодателство съд.
</p>

<p>
    гр. Пловдив <br />
    15.04.2024 г.
</p>

@section Newsletter {
    <partial name="Newsletter/_Empty" />
}
