@model string

@if (!string.IsNullOrEmpty(Model))
{
    <div class="alert alert-info alert-dismissible text-center" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@HtmlLocalizer["Close_Label"]"></button>
        @Model
    </div>
}
