@model Agreement

@{
    Layout = "~/Views/Shared/Emails/_LayoutEmail.cshtml";
    ViewData["Title"] = "Декларация за публикуване";
    ViewData["EmailTitle"] = "Декларация";
}

<p>
    <strong>Здравейте, @Model.Names</strong>
</p>

<p>
    Вашият ръкопис премина към статус „@Model.DossierStatus“ и сега се изисква Вашето съгласие за публикуване на статията/студията.
</p>

<p>
    Моля, последвайте връзката по-долу, за да прочетете споразумението за публикуване:
</p>

<partial name="_EmailButton.cshtml" model="Model.AgreementLink"/>

<p>
    Моля, имайте предвид, че за да направите това, трябва да сте <strong>регистриран потребител</strong> в нашата система.
</p>

<p>С уважение, екипът на списание<br/>Лингвистика, Интерпретация, Концепции</p>

