@using linc.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPassword

@{
    Layout = "~/Views/Shared/Emails/_LayoutEmail.cshtml";
    ViewData["Title"] = "Reset password";
    ViewData["EmailTitle"] = "Reset";
}

<p>
    <strong>Hello,</strong>
</p>

<p>
    we received a request from the IP address @Model.IpAddress to recover the password of a user registered with this email address.
</p>

<p>
    To complete the recovery process and change your password, follow this link:
</p>

<partial name="_EmailButton.cshtml" model="Model.Reset"/>

<p>If this email is not associated with your user or you do not recognize the sender's IP address, please <a href="mailto:@SiteConstant.AdministratorEmail" target="_blank">report to the system administrator</a> and ignore this email.</p>

<p>&nbsp;</p>

<p>Respectfully, from the team of<br />Linguistics, Interpretations, Concepts</p>
