@using linc.Utility
@model ResetPassword

@{
    Layout = "~/Views/Shared/Emails/_LayoutEmail.cshtml";
    ViewData["Title"] = "Възстановяване на парола";
    ViewData["EmailTitle"] = "Възстановяване";
}

<p>
    <strong>Здравейте,</strong>
</p>

<p>
    до нас постъпи заявка от IP адрес @Model.IpAddress за възстановяване на парола на потребител регистриран с този email адрес.
</p>

<p>
    За да завършите процеса по възстановяване и да смените паролата си, последвайте тази връзка:
</p>

<partial name="_EmailButton.cshtml" model="Model.Reset"/>

<p>Ако този email не е свързан с Ваш потребител или не разпознавате IP адреса на изпращача, моля, <a href="mailto:@SiteConstant.AdministratorEmail" target="_blank">подайте сигнал до администратора на системата</a> и игнорирайте този email.</p>

<p>&nbsp;</p>

<p>С уважение, екипът на списание<br/>Лингвистика, Интерпретация, Концепции</p>

