
a.scrollto {
    /* keep */
}

a.submit-link {
    /* keep */
}

.skills-content {
    /* keep */
}

.section-title p span {
    color: #106eea;
}

.team .member .member-img {
    text-align: center;
}

.about-cover-page-wrapper {
    display: flex;
    align-items: center;
}

.desc-bottom .gslide-image img {
    background: white;
}