<div class="footer-newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p></p>
            </div>
        </div>
    </div>
</div>
